<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="presenting">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item active"><span>ข้อมูลการเสนอผลงาน</span></li>
        </ol>
    </div>

    <div class="px-3">
        <th:block th:replace="~{fragments/alert}"/>

        <form id="form-presenting" class="mb-5">
            <div class="d-flex flex-xl-row flex-column">
                <div class="row px-3 mb-xl-0 mb-3 flex-xl-fill">
                    <label for="name" class="col-3 text-sm-right col-form-label">ค้นหาข้อมูล:</label>
                    <input type="text" class="col-9 form-control flex-xl-grow-1" id="name" placeholder="ค้นหาด้วยชื่อ">
                </div>
                <div class="row px-3 mb-xl-0 mb-3 flex-xl-fill">
                    <label for="presentLevel" class="col-3 text-sm-right col-form-label">ระดับ:</label>
                    <select type="text" class="col-9 form-control flex-xl-grow-1" id="presentLevel" name="presentLevel">
                        <option value="">กรุณาเลือก</option>
                        <option value="ระดับชาติ">ระดับชาติ</option>
                        <option value="ระดับนานาชาติ">ระดับนานาชาติ</option>
                    </select>
                </div>
                <div class="row px-3 mb-xl-0 mb-3 flex-xl-fill">
                    <label for="presentDateStart" class="col-2 text-sm-right col-form-label">วันที่เริ่ม:</label>
                    <input type="date" class="col-4 form-control" id="presentDateStart">
                    <label for="presentDateEnd" class="col-2 text-sm-right col-form-label">วันที่สิ้นสุด:</label>
                    <input type="date" class="col-4 form-control" id="presentDateEnd">
                </div>
                <div class="pl-xl-3 d-inline-flex justify-content-end">
                    <button type="button" class="btn btn-outline-poba mr-3" onclick="findPresentingInfo();" th:if="${#lists.contains(roles, 'ROLE_PRESENTING_SEARCH')}">ค้นหา</button>
                    <a href="javascript:void(0)" onclick="loadView('/poba/presenting/add')" class="btn btn-poba" th:if="${#lists.contains(roles, 'ROLE_PRESENTING_ADD')}">เพิ่มข้อมูล</a>
                </div>
            </div>
        </form>

        <div class="table table-responsive">
            <table id="table-presenting" class="display" width="100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ข้อมูลอาจารย์</th>
                    <th>หัวข้อเรื่อง</th>
                    <th>ระดับ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="4" class="dataTables_empty text-center bg-secondary">ข้อมูลการเสนอผลงาน</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</th:block>
</html>