<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="presenting-form">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a  href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a  href="javascript:void(0)" onclick="loadView('/poba/presenting')">ข้อมูลการเสนอผลงาน</a></li>
            <li class="breadcrumb-item active" ><span id="viewName" th:text="${viewName}"></span></li>
        </ol>
    </div>

    <div class="container px-3">
        <th:block th:replace="~{fragments/input-errors}"/>
        <th:block th:replace="~{fragments/alert}"/>

        <form id="form-presenting" class="form-wrapper">
            <input type="hidden" id="presentId" name="presentId" th:value="${presenting.presentId}"/>
            <div class="row col-sm-12 mb-2">
                <label><b>ข้อมูลอาจารย์</b></label>
            </div>
            <div class="row mb-2">
                <label class="col-sm-2 form-control-label" for="prefix">คำนำหน้า<span style="color:red !important;">*</span>:</label>
                <select type="text" class="col-sm-2 form-control bg-white" id="prefix" name="prefix"required>
                    <option value="">กรุณาเลือก</option>
                    <option value="นาย" th:selected="${presenting.prefix == 'นาย'}? 'selected'">นาย</option>
                    <option value="นางสาว" th:selected="${presenting.prefix == 'นางสาว'}? 'selected'">นางสาว</option>
                    <option value="นาง" th:selected="${presenting.prefix == 'นาง'}? 'selected'">นาง</option>
                    <option value="อ." th:selected="${presenting.prefix == 'อ.'}? 'selected'">อ.</option>
                    <option value="อ.ดร." th:selected="${presenting.prefix == 'อ.ดร.'}? 'selected'">อ.ดร.</option>
                    <option value="ผศ." th:selected="${presenting.prefix == 'ผศ.'}? 'selected'">ผศ.</option>
                    <option value="ผศ.ดร." th:selected="${presenting.prefix == 'ผศ.ดร.'}? 'selected'">ผศ.ดร.</option>
                    <option value="รศ." th:selected="${presenting.prefix == 'รศ.'}? 'selected'">รศ.</option>
                    <option value="รศ.ดร." th:selected="${presenting.prefix == 'รศ.ดร.'}? 'selected'">รศ.ดร.</option>
                    <option value="ศ." th:selected="${presenting.prefix == 'ศ.'}? 'selected'">ศ.</option>
                    <option value="ศ.ดร." th:selected="${presenting.prefix == 'ศ.ดร.'}? 'selected'">ศ.ดร.</option>
                    <option value="อื่นๆ" th:selected="${presenting.prefix == 'อื่นๆ'}? 'selected'">อื่นๆ</option>
                </select>

                <div id="prefixOtherTmp" class="col-sm-2" th:classappend="${presenting.prefix == 'อื่นๆ'}? 'd-none':'d-block'"></div>
                <input type="text" class="form-control bg-white col-sm-2" id="prefixOther" name="prefixOther" placeholder="อื่นๆ โปรดระบุ"
                       th:attr="value=${presenting.prefixOther != null}? ${presenting.prefixOther}: ''"
                       th:classappend="${presenting.prefix == 'อื่นๆ'}? 'd-block':'d-none'"
                       th:disabled="${presenting.presentId != 0}"/>

                <label for="name" class="form-control-label col-sm-2">ชื่อ-นามสกุล<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="name" name="name"
                       th:attr="value=${presenting.name != null}? ${presenting.name}: ''" maxlength="255" required/>
            </div>

            <div class="row col-sm-12 mb-2">
                <label><b>ข้อมูลผลงาน</b></label>
            </div>
            <div class="row mb-2">
                <label for="presentTopic" class="form-control-label col-sm-2">ชื่อ หัวข้อเรื่อง / บทความ<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="presentTopic" name="presentTopic"
                       th:attr="value=${presenting.presentTopic != null}? ${presenting.presentTopic} : ''" maxlength="255" required/>
                <label for="presentName" class="form-control-label col-sm-2">ชื่อการประชุม<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="presentName" name="presentName"
                       th:attr="value=${presenting.presentName != null}? ${presenting.presentName} : ''" maxlength="255" required/>
            </div>
            <div class="row mb-2">
                <label for="presentInstitution" class="form-control-label col-sm-2">หน่วยงานที่จัด<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="presentInstitution" name="presentInstitution"
                       th:attr="value=${presenting.presentInstitution != null}? ${presenting.presentInstitution} : ''" maxlength="255" required/>
                <label for="presentCountry" class="form-control-label col-sm-2">สถานที่/ประเทศ:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="presentCountry" name="presentCountry"
                       th:attr="value=${presenting.presentCountry != null}? ${presenting.presentCountry} : ''" maxlength="255"/>
            </div>

            <div class="row col-sm-12 mb-2">
                <label><b>ข้อมูลแหล่งเงินทุน</b></label>
            </div>
            <div class="row mb-2">
                <label for="presentFund" class="form-control-label col-sm-2">หน่วยงาน<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="presentFund" name="presentFund"
                       th:attr="value=${presenting.presentFund != null}? ${presenting.presentFund} : ''" maxlength="255" required/>
                <label for="presentAmount" class="form-control-label col-sm-2">จำนวนเงิน<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4 amount" id="presentAmount" name="presentAmount"
                       th:attr="value=${presenting.presentAmount != null}? ${presenting.presentAmount} : ''" onblur="amtFormat()" required/>
            </div>
            <div class="row mb-2">
                <label for="presentFund2" class="form-control-label col-sm-2">หน่วยงาน:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="presentFund2" name="presentFund2"
                       th:attr="value=${presenting.presentFund2 != null}? ${presenting.presentFund2} : ''" maxlength="255" />
                <label for="presentAmount2" class="form-control-label col-sm-2">จำนวนเงิน:</label>
                <input type="text" class="form-control bg-white col-sm-4 amount" id="presentAmount2" name="presentAmount2"
                       th:attr="value=${presenting.presentAmount2 != null}? ${presenting.presentAmount2} : ''" onblur="amtFormat()" />
            </div>
            <div class="row mb-2">
                <label for="presentDateStart" class="form-control-label col-sm-2">กำหนดการ<span style="color:red !important;">*</span>:</label>
                <input type="date" class="form-control bg-white col-sm-2" id="presentDateStart" name="presentDateStart"
                       th:attr="value=${presenting.presentDateStart != null}? ${presenting.presentDateStart} : ''" required/>
                <label for="presentDateEnd" class="form-control-label ml-3 mr-3">ถึง:</label>
                <input type="date" class="form-control bg-white col-sm-2" id="presentDateEnd" name="presentDateEnd"
                       th:attr="value=${presenting.presentDateEnd != null}? ${presenting.presentDateEnd} : ''"  required/>
            </div>
            <div class="row mb-2">
                <label for="presentLevel" class="form-control-label col-sm-2">ระดับกิจกรรม<span style="color:red !important;">*</span>:</label>
                <select type="text" class="col-sm-4 form-control bg-white" id="presentLevel" name="presentLevel">
                    <option value="">กรุณาเลือก</option>
                    <option value="ระดับชาติ" th:selected="${presenting.presentLevel == 'ระดับชาติ'}? 'selected'">ระดับชาติ</option>
                    <option value="ระดับนานาชาติ" th:selected="${presenting.presentLevel == 'ระดับนานาชาติ'}? 'selected'">ระดับนานาชาติ</option>
                </select>
            </div>
        </form>
        <div id="submit" class="row mt-5 mb-5 text-align-center" th:classappend="${presenting.presentId == 0 ? 'd-block' : 'd-none'} ">
            <button type="button" class="btn btn-poba mr-3" onclick="submitPresentingInfo();">บันทึก</button>
            <a href="javascript:void(0)" onclick="loadView('/poba/presenting')" class="btn btn-outline-poba mr-3">ยกเลิก</a>
        </div>
        <div id="edit"class="row mt-5 mb-5 text-align-center" th:classappend="${presenting.presentId != 0 ? 'd-block' : 'd-none'}">
            <a href="javascript:void(0)" onclick="loadView('/poba/presenting')" class="btn btn-poba mr-3">ยกเลิก</a>
            <button type="button" class="btn btn-outline-poba mr-3" onclick="editPresentingInfo();">แก้ไข</button>
        </div>
    </div>

    <script>
        $(document).ready(function() {
             var presentId = $("#presentId").val();
             if(presentId != '' && presentId > 0){
                $("input").prop("disabled", true);
                $("select").prop("disabled", true);
             }

             amtFormat();
        });

        $('#prefix').change(function(){
            var value = $(this).val();
            if(value == "อื่นๆ"){
                $("#prefixOther").removeClass("d-none");
                $("#prefixOther").addClass("d-block");

                $("#prefixOtherTmp").removeClass("d-block");
                $("#prefixOtherTmp").addClass("d-none");
            }else{
                $("#prefixOther").val("");
                $("#prefixOther").removeClass("d-block");
                $("#prefixOther").addClass("d-none");

                $("#prefixOtherTmp").removeClass("d-none");
                $("#prefixOtherTmp").addClass("d-block");
            }
        });
    </script>

</th:block>
</html>