
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="project">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item active"><span>ข้อมูลผู้เข้าร่วมกิจกรรม</span></li>
        </ol>
    </div>

    <div class="px-3">

        <th:block th:replace="~{fragments/alert}"/>

        <form id="form-project" class="mb-5">
            <div class="d-flex flex-xl-row flex-column">
                <div class="row px-3 mb-xl-0 mb-3 flex-xl-fill">
                    <label for="projectName" class="col-2 text-sm-right col-form-label">ค้นหาข้อมูล:</label>
                    <input id="projectName" type="text" class="col-4 form-control flex-xl-grow-1" placeholder="ค้นหาด้วยชื่อโครงการ/กิจกรรม">

                    <label for="projectYear" class="col-2 text-sm-right col-form-label">ปีการศึกษา:</label>
                    <select type="text" class="col-4 form-control" id="projectYear" name="projectYear">
                        <option value="">กรุณาเลือก</option>
                        <option th:each="year : ${years}" th:value="${year}" th:text="${year}"></option>
                    </select>
                </div>
                <div class="row px-3 mb-xl-0 mb-3">
                    <label for="projectDateFrom" class="col-3 text-sm-right col-form-label">ช่วงวันที่จัดกิจกรรม:</label>
                    <input type="date" class="col-4 form-control" id="projectDateFrom" name="projectDateFrom"/>
                    <label for="projectDateTo" class="col-1 text-sm-right col-form-label">ถึง:</label>
                    <input type="date" class="col-4 form-control" id="projectDateTo" name="projectDateTo"/>
                </div>
                <div class="pl-xl-3 d-inline-flex justify-content-end">
                    <button type="button" class="btn btn-outline-poba mr-3" onclick="findProjectInfo()" th:if="${#lists.contains(roles, 'ROLE_PROJECT_SEARCH')}">ค้นหา</button>
                    <a class="btn btn-poba" href="javascript:void(0)" onclick="loadView('/poba/project/add')" th:if="${#lists.contains(roles, 'ROLE_PROJECT_ADD')}">เพิ่มข้อมูล</a>
                </div>
            </div>
        </form>

        <div class="table table-responsive">
            <table id="table-project" class="display" width="100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ปีการศึกษา</th>
                    <th>ชื่อโครงการ/กิจกรรม</th>
                    <th>หน่วยงานที่รับผิดชอบ</th>
                    <th>ประเภทกิจกรรม</th>
                    <th>งบประมาณ (ตั้งงบ)</th>
                    <th>งบประมาณ (อนุมัติ)</th>
                    <th>จำนวนผู้เข้าร่วมกิจกรรม (เป้า)</th>
                    <th>จำนวนผู้เข้าร่วมกิจกรรม (เข้าร่วมจริง)</th>
                    <th>ระยะเวลาเตรียมกิจกรรม เริ่ม</th>
                    <th>ระยะเวลาเตรียมกิจกรรม ถึง</th>
                    <th>วันที่จัดกิจกรรม เริ่ม</th>
                    <th>วันที่จัดกิจกรรม ถึง</th>
                    <th>สถานที่จัดโครงการ</th>
                    <th>วันที่จัดกิจกรรม</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="15" class="dataTables_empty text-center bg-secondary">ข้อมูลผู้เข้าร่วมกิจกรรม</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</th:block>
</html>