
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="polsci">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item active"><span>ข้อมูลการเข้าร่วมกิจกรรมคณะ</span></li>
        </ol>
    </div>

    <div class="px-3">

        <th:block th:replace="~{fragments/alert}"/>

        <form id="form-polsci" class="mb-5">
            <div class="d-flex flex-xl-row flex-column">
                <div class="row px-3 mb-xl-0 mb-3 flex-xl-fill">
                    <label for="name" class="col-3 text-sm-right col-form-label">ค้นหาข้อมูล:</label>
                    <input id="name" type="text" class="col-9 form-control flex-xl-grow-1" placeholder="ค้นหาด้วยชื่อ">
                </div>
                <div class="row px-3 mb-xl-0 mb-3">
                    <label for="polsciYear" class="col-2 text-sm-right col-form-label">ปีการศึกษา:</label>
                    <select type="text" class="col-4 form-control" id="polsciYear" name="polsciYear">
                        <option value="">กรุณาเลือก</option>
                        <option value="2565">2565</option>
                        <option value="2564">2564</option>
                        <option value="2563">2563</option>
                    </select>
                    <label for="polsciDateFrom" class="col-2 text-sm-right col-form-label">วันที่จัดกิจกรรม:</label>
                    <input type="date" class="col-4 form-control" id="polsciDateFrom" name="polsciDateFrom"/>
                </div>
                <div class="pl-xl-3 d-inline-flex justify-content-end">
                    <button type="button" class="btn btn-outline-poba mr-3" onclick="findPolsciInfo()" th:if="${#lists.contains(roles, 'ROLE_POL_SCI_SEARCH')}">ค้นหา</button>
                    <a class="btn btn-poba" href="javascript:void(0)" onclick="loadView('/poba/polsci/add')" th:if="${#lists.contains(roles, 'ROLE_POL_SCI_ADD')}">เพิ่มข้อมูล</a>
                </div>
            </div>
        </form>

        <div class="table table-responsive">
            <table id="table-polsci" class="display" width="100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ข้อมูลอาจารย์</th>
                    <th>ชื่อโครงการ/กิจกรรม</th>
                    <th>ปีการศึกษา</th>
                    <th>วันที่จัดกิจกรรม</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="5" class="dataTables_empty text-center bg-secondary">ข้อมูลโครงการ/กิจกรรม</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</th:block>
</html>