<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="reward-view">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loadView('/poba/rewards')">ข้อมูลการรับรางวัล</a></li>
            <li class="breadcrumb-item active"><span>ดูข้อมูล</span></li>
        </ol>
    </div>

    <div class="container px-3">
        <th:block th:replace="~{fragments/alert}"/>
        <form id="form-study-view">
            <div class="row">
                <label for="name" class="form-control-label col-sm-3">ชื่อ-นามสกุล:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="name" name="name" th:value="|${reward.prefix} ${reward.name}|" readonly>
            </div>
            <div class="row">
                <label for="rewardType" class="form-control-label col-sm-3">ประเภทรางวัล:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="rewardType" name="rewardType" th:value="${reward.rewardType}" readonly>
            </div>
            <div class="row">
                <label for="rewardDate" class="form-control-label col-sm-3">วันที่รับรางวัล:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="rewardDate" name="rewardDate" th:value="${reward.rewardDate}" readonly>
            </div>
            <div class="row">
                <label for="rewardName" class="form-control-label col-sm-3">ชื่อรางวัล:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="rewardName" name="rewardName" th:value="${reward.rewardName}" readonly>
            </div>
            <div class="row">
                <label for="rewardTopic" class="form-control-label col-sm-3">ชื่อหัวข้อเรื่อง/บทความ/รางวัล:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="rewardTopic" name="rewardTopic" th:value="${reward.rewardTopic}" readonly>
            </div>
            <div class="row">
                <label for="rewardInstitution" class="form-control-label col-sm-3">หน่วยงานที่ให้รางวัล:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="rewardInstitution" name="rewardInstitution" th:value="${reward.rewardInstitution}" readonly>
            </div>
            <div class="row">
                <label for="rewardLevel" class="form-control-label col-sm-3">ระดับกิจกรรม:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="rewardLevel" name="rewardLevel" th:value="${reward.rewardLevel}" readonly>
            </div>
            <div class="row justify-content-center mt-5">
                <a href="javascript:void(0)" onclick="loadView('/poba/rewards')" class="btn btn-poba mr-3">กลับ</a>
                <a href="javascript:void(0)" th:onclick="|loadView('/poba/rewards/${reward.staffId}/edit')|" class="btn btn-outline-poba" th:if="${#lists.contains(roles, 'ROLE_REWARD_EDIT')}">แก้ไข</a>
            </div>
        </form>
    </div>

    <script th:if="${timeout}">
        window.setTimeout(function() {
            loadView('/poba/rewards');
        }, 3000);
    </script>

</th:block>
</html>