<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="consultant-std-sum-yearly2">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loadView('/poba/consultant/students2')">ข้อมูลที่ปรึกษาระดับปริญญา โท เอก</a></li>
            <li class="breadcrumb-item active"><span id="viewName" th:text="${viewName}"></span></li>
        </ol>
    </div>


    <div class="px-3">
        <div id="msgAlertDiv" class ="alert alert-dismissible alert-danger d-none">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span id="msgAlert"></span>
        </div>
        <th:block th:replace="~{fragments/alert}"/>
        <form id="consult-std-yearly-report" class="mb-4">

            <div class="row mb-2">
                <label for="yearStart" class="form-control-label col-sm-2">ปีที่เข้าศึกษา<span style="color:red !important;">*</span>:</label>
                <select type="text" class="form-control bg-white col-sm-2" id="yearStart" name="yearStart">
                    <option value="">กรุณาเลือก</option>
                    <option th:each="year : ${years}" th:value="${year}" th:text="${year}"></option>
                </select>
                <label for="yearEnd" class="form-control-label ml-3">ถึง:</label>
                <select type="text" class="form-control bg-white col-sm-2" id="yearEnd" name="yearEnd">
                    <option value="">กรุณาเลือก</option>
                    <option th:each="year : ${years}" th:value="${year}" th:text="${year}"></option>
                </select>
                <label for="admissionStatus" class="form-control-label col-sm-2">สถานะการรับเข้า:</label>
                <select type="text" class="form-control bg-white col-sm-2" id="admissionStatus" name="admissionStatus">
                    <option value="">กรุณาเลือก</option>
                    <option value="โครงการจุฬาฯ-ชนบท">โครงการจุฬาฯ-ชนบท</option>
                    <option value="โครงการปอเนอะ">โครงการปอเนอะ</option>
                    <option value="โครงการกีฬาฯ ชาติ (ระบุประเภทกีฬาที่รับเข้า)">โครงการกีฬาฯ ชาติ (ระบุประเภทกีฬาที่รับเข้า)</option>
                    <option value="Admission">Admission</option>
                    <option value="นิสิตแลกเปลี่ยน">นิสิตแลกเปลี่ยน</option>
                    <option value="สามัญเต็มเวลา">สามัญเต็มเวลา</option>
                    <option value="ทดลองศึกษา">ทดลองศึกษา</option>
                </select>
            </div>
            <div class="row mb-2">
                <label for="name" class="form-control-label col-sm-2">ที่ปรึกษา:</label>
                <input type="text" class="form-control bg-white col-sm-3 mr-3" id="name" name="name">
                <label for="studentsLevel" class="form-control-label col-sm-3 ml-4">ระดับการศึกษา:</label>
                <select type="text" class="form-control bg-white col-sm-2" id="studentsLevel" name="studentsLevel">
                    <option value="">กรุณาเลือก</option>
                    <option value="ปริญญาโท">ปริญญาโท</option>
                    <option value="ปริญญาเอก">ปริญญาเอก</option>
                </select>
            </div>
        </form>
        <div class="row mb-5" style="justify-content: center;">
            <button type="button" class="btn btn-outline-poba" onclick="findYearlyReport2()" th:if="${#lists.contains(roles, 'ROLE_CONSULTANT_STUDENT_MASTER_SEARCH')}">ค้นหา</button>
        </div>
        <div class="table table-responsive mb-5">
            <table id="table-yearly-report" class="display" width="100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ชื่อ-นามสกุลที่ปรึกษา</th>
                    <th>ระดับการศึกษา</th>
                    <th>สถานะการรับเข้า</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="14" class="dataTables_empty text-center bg-secondary">สรุปข้อมูลรายปี</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row mb-5" style="justify-content: center;">
            <a href="javascript:void(0)" onclick="loadView('/poba/consultant/students2')" class="btn btn-poba">กลับ</a>
        </div>

    </div>
</th:block>
</html>