<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="consultant-student-form">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loadView('/poba/consultant/students')">ข้อมูลที่ปรึกษาระดับปริญญา ตรี</a></li>
            <li class="breadcrumb-item active"><span id="viewName" th:text="${viewName}"></span></li>
        </ol>
    </div>

    <div id="noti-msg" class="col-sm-12 mb-4" style="width: 100%;
                  padding: 10px 0;
                  text-align: center;
                  background-color: rgb(107, 210, 125);
                  display:none;"><h4 style="color:white">บันทึกสำเร็จ</h4></div>

    <div class="container px-3">
        <th:block th:replace="~{fragments/input-errors}"/>
        <th:block th:replace="~{fragments/alert}"/>

        <form id="form-consultant-student">
            <input type="hidden" id="consultantStudentId" name="consultantStudentId" th:value="${consultantStudent.consultantStudentId}"/>
            <input type="hidden" id="persNo" name="persNo" th:field="${consultantStudent.persNo}"/>

            <div class="row col-sm-12 mb-2">
                <label><b>ข้อมูลที่ปรึกษา</b></label>
            </div>
            <div class="row mb-2">
                <label class="col-sm-2 form-control-label" for="prefix">คำนำหน้า<span style="color:red !important;">*</span>:</label>
                <input type="text" class="col-sm-2 form-control bg-white" id="prefix" name="prefix"
                       th:value="${consultantStudent.prefix}" placeholder="กรุณากดปุ่ม ค้นหา" readonly/>
                <label for="name" class="form-control-label col-sm-2">ชื่อ-นามสกุล<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="name" name="name"
                       th:value="${consultantStudent.name}" placeholder="กรุณากดปุ่ม ค้นหา" readonly/>
                <button type="button" class="btn btn-poba btn-search ml-2" data-toggle="modal" data-target="#personnelModal">ค้นหา</button>
            </div>
            <div class="row col-sm-12 mb-2">
                <label><b>ข้อมูลนิสิต</b></label>

            </div>
            <div class="row mb-2">
                <label for="studentsId" class="form-control-label col-sm-2">เลขประจำตัวนิสิต<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="studentsId" name="studentsId"
                       th:value="${consultantStudent.studentsId}" placeholder="กรุณากดปุ่ม ค้นหา" readonly/>
                <button type="button" class="btn btn-poba btn-search ml-2" data-toggle="modal" data-target="#studentModal">ค้นหา</button>
            </div>
            <div class="row mb-2">
                <label class="col-sm-2 form-control-label" for="studentPrefix">คำนำหน้า<span style="color:red !important;">*</span>:</label>
                <input type="text" class="col-sm-2 form-control bg-white" id="studentPrefix" name="studentPrefix"
                th:value="${consultantStudent.studentPrefix}" readonly/>
                <label for="studentName" class="form-control-label col-sm-2">ชื่อ-นามสกุล<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="studentName" name="studentName"
                       th:value="${consultantStudent.studentName}" readonly/>
            </div>
            <div class="row mb-2">
                <label for="yearOfStudy" class="form-control-label col-sm-2">ปีที่เข้าศึกษา<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="yearOfStudy" name="yearOfStudy"
                       th:value="${consultantStudent.yearOfStudy}" readonly/>
                <label for="studentsLevel" class="form-control-label col-sm-2">ระดับการศึกษา<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="studentsLevel" name="studentsLevel"
                        th:value="${consultantStudent.studentsLevel}" readonly/>
            </div>
            <div class="row mb-2">
                <label for="admissionStatus" class="form-control-label col-sm-2">สถานะการรับเข้า<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="admissionStatus" name="admissionStatus"
                       th:value="${consultantStudent.admissionStatus}" readonly/>
                <label for="course" class="form-control-label col-sm-2">หลักสูตร<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="course" name="course"
                        th:value="${consultantStudent.course}" readonly/>
            </div>
            <div class="row mb-2">
                <label for="department" class="form-control-label col-sm-2">ภาควิชา<span style="color:red !important;">*</span>:</label>
                <select type="text" class="form-control bg-white col-sm-4" id="department" name="department" required>
                    <option value="">กรุณาเลือก</option>
                    <option value="ไม่สังกัดภาควิชา" th:selected="${consultantStudent.department  == 'ไม่สังกัดภาควิชา'}? 'selected'">ไม่สังกัดภาควิชา</option>
                    <option value="การปกครอง" th:selected="${consultantStudent.department == 'การปกครอง'}? 'selected'">การปกครอง</option>
                    <option value="ความสัมพันธ์ระหว่างประเทศ" th:selected="${consultantStudent.department == 'ความสัมพันธ์ระหว่างประเทศ'}? 'selected'">ความสัมพันธ์ระหว่างประเทศ</option>
                    <option value="สังคมวิทยาและมานุษยวิทยา" th:selected="${consultantStudent.department == 'สังคมวิทยาและมานุษยวิทยา'}? 'selected'">สังคมวิทยาและมานุษยวิทยา</option>
                    <option value="รัฐประศาสนศาสตร์" th:selected="${consultantStudent.department == 'รัฐประศาสนศาสตร์'}? 'selected'">รัฐประศาสนศาสตร์</option>
                </select>
            </div>
        </form>
        <div id="submit" class="row mt-5 mb-5 text-align-center" th:classappend="${consultantStudent.consultantStudentId == 0 ? 'd-block' : 'd-none'} ">
            <button type="button" class="btn btn-poba mr-3" onclick="submitConsultantStudent();" th:if="${#lists.contains(roles, 'ROLE_CONSULTANT_STUDENT_BACHELOR_ADD') || #lists.contains(roles, 'ROLE_CONSULTANT_STUDENT_BACHELOR_EDIT')}">บันทึก</button>
            <a href="javascript:void(0)" onclick="loadView('/poba/consultant/students')" class="btn btn-outline-poba ">ยกเลิก</a>
        </div>
        <div id="edit" class="row mt-5 mb-5 text-align-center" th:classappend="${consultantStudent.consultantStudentId != 0 ? 'd-block' : 'd-none'}">
            <a href="javascript:void(0)" onclick="loadView('/poba/consultant/students')" class="btn btn-poba mr-3">ยกเลิก</a>
            <button type="button" class="btn btn-outline-poba" onclick="editConsultantStudent();" th:if="${#lists.contains(roles, 'ROLE_CONSULTANT_STUDENT_BACHELOR_EDIT')}">แก้ไข</button>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            var viewName = $("#viewName").text();
             if(viewName == "ดูข้อมูล"){
                $("input").prop("disabled", true);
                $("select").prop("disabled", true);
                $(".btn-search").prop("disabled", true);
             }
        });

        $('#prefix').change(function(){
            var value = $(this).val();
            if(value == "อื่นๆ"){
                $("#prefixOther").removeClass("d-none");
                $("#prefixOther").addClass("d-block");

                $("#prefixOtherTmp").removeClass("d-block");
                $("#prefixOtherTmp").addClass("d-none");
            }else{
                $("#prefixOther").val("");
                $("#prefixOther").removeClass("d-block");
                $("#prefixOther").addClass("d-none");

                $("#prefixOtherTmp").removeClass("d-none");
                $("#prefixOtherTmp").addClass("d-block");
            }
        });

         $('#studentPrefix').change(function(){
            var value = $(this).val();
            if(value == "อื่นๆ"){
                $("#studentPrefixOther").removeClass("d-none");
                $("#studentPrefixOther").addClass("d-block");

                $("#studentPrefixOtherTmp").removeClass("d-block");
                $("#studentPrefixOtherTmp").addClass("d-none");
            }else{
                $("#studentPrefixOther").val("");
                $("#studentPrefixOther").removeClass("d-block");
                $("#studentPrefixOther").addClass("d-none");

                $("#studentPrefixOtherTmp").removeClass("d-none");
                $("#studentPrefixOtherTmp").addClass("d-block");
            }
        });
    </script>

</th:block>
</html>