<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<th:block layout:fragment="content">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="/poba/teaching">ข้อมูลการสอน</a></li>
            <li class="breadcrumb-item active" ><span id="viewName" th:text="${viewName}"></span></li>
        </ol>
    </div>

    <div id="noti-msg" class="col-sm-12 mb-4" style="width: 100%;
                  padding: 10px 0;
                  text-align: center;
                  background-color: rgb(107, 210, 125);
                  display:none;"><h4 style="color:white">บันทึกสำเร็จ</h4></div>

    <div class="container px-3">
        <form id="form-teaching">
            <input type="hidden" id="staffId" name="staffId" th:value="${teaching.staffId}"/>
            <div class="row col-sm-12 mb-2">
                <label><b>ข้อมูลผู้สอน</b></label>
            </div>
            <div class="row mb-2">
                <label class="col-sm-2 form-control-label" for="prefix">คำนำหน้า<span style="color:red !important;">*</span>:</label>
                <select type="text" class="col-sm-2 form-control bg-white" id="prefix" name="prefix"required>
                    <option value="">กรุณาเลือก</option>
                    <option value="นาย" th:selected="${teaching.prefix == 'นาย'}? 'selected'">นาย</option>
                    <option value="นางสาว" th:selected="${teaching.prefix == 'นางสาว'}? 'selected'">นางสาว</option>
                    <option value="นาง" th:selected="${teaching.prefix == 'นาง'}? 'selected'">นาง</option>
                </select>
                <label for="name" class="form-control-label col-sm-2">ชื่อ-นามสกุล:</label>
                <input type="text" class="form-control bg-white col-sm-2" id="name" name="name"
                       th:attr="value=${teaching.name != null}? |${teaching.name} ${teaching.surname}|: ''"/>

                <label class="col-sm-2 form-control-label" for="teachStatus">สถานะการสอน<span style="color:red !important;">*</span>:</label>
                <select type="text" class="col-sm-2 form-control bg-white" id="teachStatus" name="teachStatus"required>
                    <option value="">กรุณาเลือก</option>
                    <option value="สอนหลัก" th:selected="${teaching.teachStatus == 'สอนหลัก'}? 'selected'">สอนหลัก</option>
                    <option value="สอนร่วม" th:selected="${teaching.teachStatus == 'สอนร่วม'}? 'selected'">สอนร่วม</option>
                    <option value="เชิญสอน (อาจารย์พิเศษ)" th:selected="${teaching.teachStatus == 'เชิญสอน (อาจารย์พิเศษ)'}? 'selected'">เชิญสอน (อาจารย์พิเศษ)</option>
                </select>
            </div>
            <div class="row col-sm-12 mb-2">
                <label><b>ข้อมูลเชิญสอน</b></label>
            </div>
            <div class="row mb-2">
                <label for="institutionInfo" class="form-control-label col-sm-2">หน่วยงานสังกัด:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="institutionInfo" name="institutionInfo"
                       th:attr="value=${teaching.institutionInfo != null}? ${teaching.institutionInfo} : ''"/>
                <label for="teachTopic" class="form-control-label col-sm-2">เรื่อง/หัวข้อในการสอน:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="teachTopic" name="teachTopic"
                       th:attr="value=${teaching.teachTopic != null}? ${teaching.teachTopic} : ''"/>
            </div>
            <div class="row mb-2">
                <label for="teachTimes" class="form-control-label col-sm-2">จำนวนครั้ง:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="teachTimes" name="teachTimes"
                       th:attr="value=${teaching.teachTimes != null}? ${teaching.teachTimes} : ''"/>
                <label for="teachDate" class="form-control-label col-sm-2">วันเดือน ปี:</label>
                <input type="date" class="form-control bg-white col-sm-2" id="teachDate" name="teachDate"
                       th:attr="value=${teaching.teachDate != null}? ${teaching.teachDate}: ''"/>
            </div>
            <div class="row mb-2">
                <label for="noteOfTeach" class="form-control-label col-sm-2">หมายเหตุ:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="noteOfTeach" name="noteOfTeach"
                       th:attr="value=${teaching.noteOfTeach != null}? ${teaching.noteOfTeach} : ''"/>
            </div>
            <div class="row col-sm-12 mb-2">
                <label><b>ข้อมูลการสอน</b></label>
            </div>
            <div class="row mb-2">
                <label for="studyYear" class="form-control-label col-sm-2">ปีการศึกษา:</label>
                <select type="text" class="form-control bg-white col-sm-4" id="studyYear" name="studyYear">
                    <option value="">กรุณาเลือก</option>
                    <option value="2565" th:selected="${teaching.studyYear == '2565'}? 'selected'">2565</option>
                    <option value="2564" th:selected="${teaching.studyYear == '2564'}? 'selected'">2564</option>
                    <option value="2563" th:selected="${teaching.studyYear == '2563'}? 'selected'">2563</option>
                </select>
                <label for="semester" class="form-control-label col-sm-2">ภาคการศึกษา:</label>
                <select type="text" class="form-control bg-white col-sm-4" id="semester" name="semester">
                    <option value="">กรุณาเลือก</option>
                    <option value="ภาคการศึกษาต้น" th:selected="${teaching.semester == 'ภาคการศึกษาต้น'}? 'selected'">ภาคการศึกษาต้น</option>
                    <option value="ภาคการศึกษาปลาย" th:selected="${teaching.semester == 'ภาคการศึกษาปลาย'}? 'selected'">ภาคการศึกษาปลาย</option>
                    <option value="ภาคฤดูร้อน" th:selected="${teaching.semester == 'ภาคฤดูร้อน'}? 'selected'">ภาคฤดูร้อน</option>
                    <option value="ภาคการศึกษาที่ 1" th:selected="${teaching.semester == 'ภาคการศึกษาที่ 1'}? 'selected'">ภาคการศึกษาที่ 1</option>
                    <option value="ภาคการศึกษาที่ 2" th:selected="${teaching.semester == 'ภาคการศึกษาที่ 2'}? 'selected'">ภาคการศึกษาที่ 2</option>
                    <option value="ภาคการศึกษาที่ 3" th:selected="${teaching.semester == 'ภาคการศึกษาที่ 3'}? 'selected'">ภาคการศึกษาที่ 3</option>
                </select>
            </div>
            <div class="row mb-2">
                <label for="studyType" class="form-control-label col-sm-2">ระบบ:</label>
                <select type="text" class="form-control bg-white col-sm-4" id="studyType" name="studyType">
                    <option value="">กรุณาเลือก</option>
                    <option value="ตรีภาค" th:selected="${teaching.studyType == 'ตรีภาค'}? 'selected'">ตรีภาค</option>
                    <option value="ทวิภาค" th:selected="${teaching.studyType == 'ทวิภาค'}? 'selected'">ทวิภาค</option>
                    <option value="ทวิภาค-นานาชาติ" th:selected="${teaching.studyType == 'ทวิภาค-นานาชาติ'}? 'selected'">ทวิภาค-นานาชาติ</option>
                </select>
                <label for="subjectId" class="form-control-label col-sm-2">รหัสวิชา:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="subjectId" name="subjectId"
                       th:attr="value=${teaching.subjectId != null}? ${teaching.subjectId} : ''"/>
            </div>
            <div class="row mb-2">
                <label for="subjectName" class="form-control-label col-sm-2">ชื่อย่อวิชา:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="subjectName" name="subjectName"
                       th:attr="value=${teaching.subjectName != null}? ${teaching.subjectName} : ''"/>
                <label for="subjectCredit" class="form-control-label col-sm-2">หน่วยกิต:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="subjectCredit" name="subjectCredit"
                       th:attr="value=${teaching.subjectCredit != null}? ${teaching.subjectCredit} : ''"/>
            </div>
            <div class="row mb-2">
                <label for="currentCredit" class="form-control-label col-sm-2">ตอนเรียน:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="currentCredit" name="currentCredit"
                       th:attr="value=${teaching.currentCredit != null}? ${teaching.currentCredit} : ''"/>
                <label for="teachType" class="form-control-label col-sm-2">วิธีสอน:</label>
                <select type="text" class="form-control bg-white col-sm-4" id="teachType" name="teachType">
                    <option value="">กรุณาเลือก</option>
                    <option value="DISC" th:selected="${teaching.teachType == 'AR'}? 'selected'">DISC</option>
                    <option value="FWK" th:selected="${teaching.teachType == 'FWK'}? 'selected'">FWK</option>
                    <option value="IDPS" th:selected="${teaching.teachType == 'IDPS'}? 'selected'">IDPS</option>
                    <option value="LECT" th:selected="${teaching.teachType == 'LECT'}? 'selected'">LECT</option>
                    <option value="PRAC" th:selected="${teaching.teachType == 'PRAC'}? 'selected'">PRAC</option>
                    <option value="SMNA" th:selected="${teaching.teachType == 'SMNA'}? 'selected'">SMNA</option>
                    <option value="L/F = LECTURE/FIELDWORK" th:selected="${teaching.teachType == 'L/F = LECTURE/FIELDWORK'}? 'selected'">L/F = LECTURE/FIELDWORK</option>
                    <option value="L/L = LECTURE/LABORATORY" th:selected="${teaching.teachType == 'L/L = LECTURE/LABORATORY'}? 'selected'">L/L = LECTURE/LABORATORY</option>
                    <option value="L/P = LECTURE/PRACTICE" th:selected="${teaching.teachType == 'L/P = LECTURE/PRACTICE'}? 'selected'">L/P = LECTURE/PRACTICE</option>
                    <option value="IDPS = INDEPENDENT STUDY" th:selected="${teaching.teachType == 'IDPS = INDEPENDENT STUDY'}? 'selected'">IDPS = INDEPENDENT STUDY</option>
                    <option value="IDVS = INDIVIDUAL STUDY" th:selected="${teaching.teachType == 'IDVS = INDIVIDUAL STUDY'}? 'selected'">IDVS = INDIVIDUAL STUDY</option>
                </select>
            </div>
            <div class="row mb-2">
                <label for="teachDay" class="form-control-label col-sm-2">วัน:</label>
                <select type="text" class="form-control bg-white col-sm-2" id="teachDay" name="teachDay">
                    <option value="">กรุณาเลือก</option>
                    <option value="AR" th:selected="${teaching.teachDay == 'AR'}? 'selected'">AR</option>
                    <option value="TO BE ARRANGED" th:selected="${teaching.teachDay == 'TO BE ARRANGED'}? 'selected'">TO BE ARRANGED</option>
                    <option value="IA" th:selected="${teaching.teachDay == 'IA'}? 'selected'">IA</option>
                    <option value="INDIVIDUALLY ARRANGED" th:selected="${teaching.teachDay == 'INDIVIDUALLY ARRANGED'}? 'selected'">INDIVIDUALLY ARRANGED</option>
                    <option value="MO" th:selected="${teaching.teachDay == 'MO'}? 'selected'">MO</option>
                    <option value="SU" th:selected="${teaching.teachDay == 'SU'}? 'selected'">SU</option>
                    <option value="TH" th:selected="${teaching.teachDay == 'TH'}? 'selected'">TH</option>
                    <option value="TU" th:selected="${teaching.teachDay == 'TU'}? 'selected'">TU</option>
                    <option value="WE" th:selected="${teaching.teachDay == 'WE'}? 'selected'">WE</option>
                </select>
                <input type="hidden" id="studyStart" name="studyStart"/>
                <label for="studyStartHH" class="form-control-label col-sm-1">เวลาเรียนเริ่มต้น:</label>
                <select type="text" class="form-control bg-white col-sm-1" id="studyStartHH" name="studyStartHH">
                    <option value="">HH</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select type="text" class="form-control bg-white col-sm-1" id="studyStartMM" name="studyStartMM">
                    <option value="">MM</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <select type="text" class="form-control bg-white col-sm-1" id="studyStartAM" name="studyStartAM">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
                <input type="hidden" id="studyEnd" name="studyEnd"/>
                <label for="studyEndHH" class="form-control-label col-sm-1">เวลาเรียนสิ้นสุด:</label>
                <select type="text" class="form-control bg-white col-sm-1" id="studyEndHH" name="studyEndHH">
                    <option value="">HH</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select type="text" class="form-control bg-white col-sm-1" id="studyEndMM" name="studyEndMM">
                    <option value="">MM</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <select type="text" class="form-control bg-white col-sm-1" id="studyEndAM" name="studyEndAM">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
            </div>
            <div class="row mb-2">
                <label for="teachLocation" class="form-control-label col-sm-2">อาคาร:</label>
                <select type="text" class="form-control bg-white col-sm-4 mr-3" id="teachLocation" name="teachLocation">
                    <option value="">กรุณาเลือก</option>
                    <option value="CHALE" th:selected="${teaching.teachLocation == 'CHALE'}? 'selected'">CHALE</option>
                    <option value="MAHIT" th:selected="${teaching.teachLocation == 'MAHIT'}? 'selected'">MAHIT</option>
                    <option value="PINIT" th:selected="${teaching.teachLocation == 'PINIT'}? 'selected'">PINIT</option>
                    <option value="POL1" th:selected="${teaching.teachLocation == 'POL1'}? 'selected'">POL1</option>
                    <option value="POL2" th:selected="${teaching.teachLocation == 'POL2'}? 'selected'">POL2</option>
                    <option value="POL3" th:selected="${teaching.teachLocation == 'POL3'}? 'selected'">POL3</option>
                    <option value="อื่นๆ" th:selected="${teaching.teachLocation == 'อื่นๆ'}? 'selected'">อื่นๆ</option>
                </select>
<!--                <input type="text" class="form-control bg-white col-sm-4" id="teachLocationAdd" name="teachLocationAdd" placeholder="โปรดระบุอาคารเพิ่มเติม"/>-->
            </div>
            <div class="row mb-2">
                <label for="teachRoom" class="form-control-label col-sm-2">ห้อง:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="teachRoom" name="teachRoom"
                       th:attr="value=${teaching.teachRoom != null}? ${teaching.teachRoom} : ''"/>
                <label for="teachStyle" class="form-control-label col-sm-2">รูปแบบการสอน:</label>
                <select type="text" class="form-control bg-white col-sm-3" id="teachStyle" name="teachStyle">
                    <option value="Online" th:selected="${teaching.teachStyle == 'Online'}? 'selected'">Online</option>
                    <option value="Onsite" th:selected="${teaching.teachStyle == 'Onsite'}? 'selected'">Onsite</option>
                    <option value="Hybrid" th:selected="${teaching.teachStyle == 'Hybrid'}? 'selected'">Hybrid</option>
                </select>
            </div>
            <div class="row mb-2">
                <label for="teachStyleDetail" class="form-control-label col-sm-2">รายละเอียดการสอน:</label>
                <input type="text" class="form-control bg-white col-sm-2" id="teachStyleDetail" name="teachStyleDetail"
                       th:attr="value=${teaching.teachStyleDetail != null}? ${teaching.teachStyleDetail} : ''"/>
                <label for="totalOfStudents" class="form-control-label col-sm-2">จำนวนนิสิตรับได้ทั้งหมด:</label>
                <input type="text" class="form-control bg-white col-sm-2" id="totalOfStudents" name="totalOfStudents"
                       th:attr="value=${teaching.totalOfStudents != null}? ${teaching.totalOfStudents}: ''"/>
                <label for="totalStudentsRegister" class="form-control-label col-sm-2">จำนวนนิสิตลงทะเบียนเรียน:</label>
                <input type="text" class="form-control bg-white col-sm-2" id="totalStudentsRegister" name="totalStudentsRegister"
                       th:attr="value=${teaching.totalStudentsRegister != null}? ${teaching.totalStudentsRegister}: ''"/>
            </div>
            <div class="row mb-2">
                <label for="midtermExamDate" class="form-control-label col-sm-2">วันสอบกลางภาค:</label>
                <input type="date" class="form-control bg-white col-sm-2" id="midtermExamDate" name="midtermExamDate"
                       th:attr="value=${teaching.midtermExamDate != null}? ${teaching.midtermExamDate} : ''"/>
                <input type="hidden" id="midtermExamTime" name="midtermExamTime"/>
                <label for="midtermExamTimeStartHH" class="form-control-label col-sm-1">เวลาสอบกลางภาคเริ่มต้น:</label>
                <select type="text" class="form-control bg-white col-sm-1" id="midtermExamTimeStartHH" name="midtermExamTimeStartHH">
                    <option value="">HH</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select type="text" class="form-control bg-white col-sm-1" id="midtermExamTimeStartMM" name="midtermExamTimeStartMM">
                    <option value="">MM</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <select type="text" class="form-control bg-white col-sm-1" id="midtermExamTimeStartAM" name="midtermExamTimeStartAM">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
                </select>
                <label for="midtermExamTimeEndHH" class="form-control-label col-sm-1">เวลาสอบกลางภาคสิ้นสุด:</label>
                <select type="text" class="form-control bg-white col-sm-1" id="midtermExamTimeEndHH" name="midtermExamTimeEndHH">
                    <option value="">HH</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select type="text" class="form-control bg-white col-sm-1" id="midtermExamTimeEndMM" name="midtermExamTimeEndMM">
                    <option value="">MM</option>
                    <option value="10">00</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <select type="text" class="form-control bg-white col-sm-1" id="midtermExamTimeEndAM" name="midtermExamTimeEndAM">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
            </div>
            <div class="row mb-2">
                <label for="finalExamDate" class="form-control-label col-sm-2">วันสอบปลายภาค:</label>
                <input type="date" class="form-control bg-white col-sm-2" id="finalExamDate" name="finalExamDate"
                       th:attr="value=${teaching.finalExamDate != null}? ${teaching.finalExamDate} : ''"/>
                <input type="hidden" id="finalExamTime" name="finalExamTime"/>
                <label for="finalExamTimeStartHH" class="form-control-label col-sm-1">เวลาสอบปลายภาคเริ่มต้น:</label>
                <select type="text" class="form-control bg-white col-sm-1" id="finalExamTimeStartHH" name="finalExamTimeStartHH">
                    <option value="">HH</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select type="text" class="form-control bg-white col-sm-1" id="finalExamTimeStartMM" name="finalExamTimeStartMM">
                    <option value="">MM</option>
                    <option value="10">00</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <select type="text" class="form-control bg-white col-sm-1" id="finalExamTimeStartAM" name="finalExamTimeStartAM">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
                </select>
                <label for="finalExamTimeEndHH" class="form-control-label col-sm-1">เวลาสอบกลางภาคสิ้นสุด:</label>
                <select type="text" class="form-control bg-white col-sm-1" id="finalExamTimeEndHH" name="finalExamTimeEndHH">
                    <option value="">HH</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select type="text" class="form-control bg-white col-sm-1" id="finalExamTimeEndMM" name="finalExamTimeEndMM">
                    <option value="">MM</option>
                    <option value="10">00</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <select type="text" class="form-control bg-white col-sm-1" id="finalExamTimeEndAM" name="finalExamTimeEndAM">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
            </div>
        </form>
        <div id="submit" class="row mt-5 mb-5 text-align-center" th:classappend="${teaching.staffId == 0 ? 'd-block' : 'd-none'} ">
            <button type="button" class="btn btn-poba mr-3" onclick="submitTeachingInfo();">บันทึก</button>
            <a href="/poba/teaching" class="btn btn-outline-poba mr-3">ยกเลิก</a>
        </div>
        <div id="edit"class="row mt-5 mb-5 text-align-center" th:classappend="${teaching.staffId != 0 ? 'd-block' : 'd-none'}">
            <a href="/poba/teaching" class="btn btn-poba mr-3">ยกเลิก</a>
            <button type="button" class="btn btn-outline-poba mr-3" onclick="editTeachingInfo();">แก้ไข</button>
        </div>
    </div>

    <script>
        $(document).ready(function() {
             var staffId = $("#staffId").val();
             if(staffId != '' && staffId > 0){
                $("input").prop("disabled", true);
                $("select").prop("disabled", true);
             }
        });
    </script>

</th:block>
</html>