<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<th:block layout:fragment="content">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="/poba/personnel-info/researchers">ข้อมูลอาจารย์ / นักวิจัยชาวต่างชาติ</a></li>
            <li class="breadcrumb-item active"><span th:text="${viewName}"></span></li>
        </ol>
    </div>

    <div class="container px-3">
        <form id="form-researcher-detail">
            <div class="row">
                <label for="name" class="form-control-label col-sm-2">ชื่อ-นามสกุล:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="name" name="name" th:value="|${researcher.prefix} ${researcher.name} ${researcher.surname}|" readonly>
            </div>
            <div class="row">
                <label for="status" class="form-control-label col-sm-2">สถานะ:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="status" name="status" th:value="${researcher.status}" readonly>
            </div>
            <div class="row">
                <label for="type" class="form-control-label col-sm-2">ประเภท:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="type" name="type" th:value="${researcher.type}" readonly>
            </div>
            <div class="row">
                <label for="workStartDate" class="form-control-label col-sm-2">ระยะเวลาในการปฏิบัติงาน/ว่าจ้าง:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="workStartDate" name="workStartDate" th:value="|${researcher.workStartDate} - ${researcher.workEndDate}|" readonly>
            </div>
            <div class="row">
                <label for="noteOfWork" class="form-control-label col-sm-2">หมายเหตุ:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="noteOfWork" name="noteOfWork" th:value="${researcher.noteOfWork}" readonly>
            </div>
            <div class="row">
                <label for="docOfWork" class="form-control-label col-sm-2">เอกสารสัญญาจ้าง:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="docOfWork" name="docOfWork" th:value="${researcher.docOfWork}" readonly>
            </div>
            <div class="row justify-content-center mt-5">
                <a href="/poba/personnel-info/researcher" class="btn btn-poba mr-3">กลับ</a>
                <a th:href="|/poba/personnel-info/researcher/${researcher.staffId}/edit|" class="btn btn-outline-poba">แก้ไข</a>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function() {

        });
    </script>

</th:block>
</html>