<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<th:block layout:fragment="content">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="/poba/personnel-info/education">ข้อมูลศึกษาต่อ / ไปแลกเปลี่ยน</a></li>
            <li class="breadcrumb-item active"><span th:text="${viewName}"></span></li>
        </ol>
    </div>

    <div id="noti-msg" class="col-sm-12 mb-4" style="width: 100%;
                  padding: 10px 0;
                  text-align: center;
                  background-color: rgb(107, 210, 125);
                  display:none;"><h4 style="color:white">บันทึกสำเร็จ</h4></div>

    <div class="container px-3">
        <form id="form-education">
            <input type="hidden" id="staffId" name="staffId" th:value="${studyInfo.staffId}"/>
            <div class="row mb-2">
                <label class="col-sm-2 form-control-label" for="prefix">คำนำหน้า<span style="color:red !important;">*</span>:</label>
                <select type="text" class="col-sm-2 form-control bg-white" id="prefix" name="prefix"required>
                    <option value="">กรุณาเลือก</option>
                    <option value="นาย" th:selected="${studyInfo.prefix == 'นาย'}? 'selected'">นาย</option>
                    <option value="นางสาว" th:selected="${studyInfo.prefix == 'นางสาว'}? 'selected'">นางสาว</option>
                    <option value="นาง" th:selected="${studyInfo.prefix == 'นาง'}? 'selected'">นาง</option>
                </select>
            </div>
            <div class="row mb-2">
                <label for="name" class="form-control-label col-sm-2">ชื่อ-นามสกุล:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="name" name="name"
                       th:attr="value=${studyInfo.name != null}? |${studyInfo.name} ${studyInfo.surname}|: ''"/>
            </div>
            <div class="row mb-2">
                <label for="travelOrder" class="form-control-label col-sm-2">คำสั่งเดินทาง:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="travelOrder" name="travelOrder"
                       th:attr="value=${studyInfo.travelOrder != null}? ${studyInfo.travelOrder}: ''"/>
            </div>
            <div class="row mb-2">
                <label for="startDate" class="form-control-label col-sm-2">วันที่ไป:</label>
                <input type="date" class="form-control bg-white col-sm-2" id="startDate" name="startDate" onchange="startDateChange();"
                       th:attr="value=${studyInfo.startDate != null}? ${studyInfo.startDate}: ''"/>
                <label for="endDate" class="form-control-label col-sm-1">วันที่กลับ:</label>
                <input type="date" class="form-control bg-white col-sm-2" id="endDate" name="endDate"onchange="endDateChange();"
                       th:attr="value=${studyInfo.endDate != null}? ${studyInfo.endDate}: ''"/>
                <label for="totalDate" class="form-control-label col-sm-1">จำนวนวัน:</label>
                <input type="text" class="form-control bg-gray col-sm-2" id="totalDate" name="totalDate" readonly
                       th:attr="value=${studyInfo.totalDate != null}? ${studyInfo.totalDate}: ''"/>
            </div>
            <div class="row mb-2">
                <label for="activityDetail" class="form-control-label col-sm-2">รายละเอียดกิจกรรม:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="activityDetail" name="activityDetail"
                       th:attr="value=${studyInfo.activityDetail != null}? ${studyInfo.activityDetail}: ''"/>
            </div>
            <div class="row mb-2">
                <label for="location" class="form-control-label col-sm-2">มหาวิทยาลัย/สถาบันที่ไป:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="location" name="location"
                       th:attr="value=${studyInfo.location != null}? ${studyInfo.location}: ''"/>
                <label for="locationType" class="form-control-label col-sm-1">ประเภท:</label>
                <select class="form-control bg-white col-sm-2" id="locationType" name="locationType">
                    <option value="">กรุณาเลือก</option>
                    <option value="ในประเทศ" th:selected="${studyInfo.locationType == 'ในประเทศ'}? 'selected'">ในประเทศ</option>
                    <option value="ต่างประเทศ" th:selected="${studyInfo.locationType == 'ต่างประเทศ'}? 'selected'">ต่างประเทศ</option>
                </select>
            </div>
            <div class="row mb-2">
                <label for="country" class="form-control-label col-sm-2">ชื่อประเทศ:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="country" name="country"
                       th:attr="value=${studyInfo.country != null}? ${studyInfo.country}: ''"/>
                <label for="fund" class="form-control-label col-sm-1">แหล่งทุน:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="fund" name="fund"
                       th:attr="value=${studyInfo.fund != null}? ${studyInfo.fund}: ''"/>
            </div>
            <div class="row justify-content-center mt-5">
                <button type="button" class="btn btn-poba mr-3" onclick="submitEducationInfo();">บันทึก</button>
                <button type="button" class="btn btn-outline-poba mr-3" onclick="">ยกเลิก</button>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function() {

        });
    </script>

</th:block>
</html>