<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<th:block layout:fragment="content">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="/poba/personnel-info/education">ข้อมูลศึกษาต่อ / ไปแลกเปลี่ยน</a></li>
            <li class="breadcrumb-item active"><span>ดูข้อมูล</span></li>
        </ol>
    </div>

    <div class="container px-3">
        <form id="form-education-detail">
            <div class="row">
                <label for="name" class="form-control-label col-sm-3">ชื่อ-นามสกุล:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="name" name="name" th:value="|${studyInfo.prefix} ${studyInfo.name} ${studyInfo.surname}|" readonly>
            </div>
            <div class="row">
                <label for="travelOrder" class="form-control-label col-sm-3">คำสั่งเดินทาง:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="travelOrder" name="travelOrder" th:value="${studyInfo.travelOrder}" readonly>
            </div>
            <div class="row">
                <label for="startDate" class="form-control-label col-sm-3">วันที่ไป:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="startDate" name="startDate" th:value="${studyInfo.startDate}" readonly>
            </div>
            <div class="row">
                <label for="endDate" class="form-control-label col-sm-3">วันที่กลับ:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="endDate" name="endDate" th:value="${studyInfo.endDate}" readonly>
            </div>
            <div class="row">
                <label for="totalDate" class="form-control-label col-sm-3">จำนวนวัน:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="totalDate" name="totalDate" th:value="${studyInfo.totalDate}" readonly>
            </div>
            <div class="row">
                <label for="activityDetail" class="form-control-label col-sm-3">รายละเอียดกิจกรรม:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="activityDetail" name="activityDetail" th:value="${studyInfo.activityDetail}" readonly>
            </div>
            <div class="row">
                <label for="location" class="form-control-label col-sm-3">มหาวิทยาลัย/สถาบันที่ไป:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="location" name="location" th:value="${studyInfo.location}" readonly>
            </div>
            <div class="row">
                <label for="locationType" class="form-control-label col-sm-3">ประเภท:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="locationType" name="location" th:value="${studyInfo.locationType}" readonly>
            </div>
            <div class="row">
                <label for="country" class="form-control-label col-sm-3">ชื่อประเทศ:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="country" name="location" th:value="${studyInfo.country}" readonly>
            </div>
            <div class="row">
                <label for="fund" class="form-control-label col-sm-3">แหล่งทุน:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="fund" name="fund" th:value="${studyInfo.fund}" readonly>
            </div>
            <div class="row justify-content-center mt-5">
                <a href="/poba/personnel-info/education" class="btn btn-poba mr-3">กลับ</a>
                <a th:href="|/poba/personnel-info/education/${studyInfo.staffId}/edit|" class="btn btn-outline-poba">แก้ไข</a>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function() {

        });
    </script>

</th:block>
</html>