<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<th:block layout:fragment="content">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item active"><span>ข้อมูลศึกษาต่อ / ไปแลกเปลี่ยน</span></li>
        </ol>
    </div>

    <div class="px-3">

    </div>

    <script>
        $(document).ready(function() {

        });
    </script>

</th:block>
</html>