<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ระบบฐานข้อมูลกลางคณะรัฐศาสตร์</title>
    <link rel="stylesheet" th:href="@{/plugin/serein/vendors/iconfonts/mdi/font/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/plugin/serein/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/plugin/serein/vendors/css/vendor.bundle.addons.css}">
    <link rel="stylesheet" th:href="@{/plugin/serein/css/vertical-layout-dark/style.css}">
    <link rel="shortcut icon" th:href="@{/plugin/serein/images/favicon.png}" />
    <link rel="stylesheet" th:href="@{/plugin/DataTables/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/plugin/DataTables/css/dataTables.bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugin/font-awesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/app/app.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
    <link rel="stylesheet" th:href="@{/plugin/bootstrap/bootstrap-toggle.min.css}">
</head>
<body>
<div class="container-scroller">
    <!--<header>
        <nav id="main-header"></nav>
    </header>-->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="javascript:void(0);" onclick="goToDashboard();"><img th:src="@{/images/logo2.png}" alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="javascript:void(0);" onclick="goToDashboard();"><img th:src="@{/images/logo.png}" alt="logo"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item">
                    <p>Welcome</p>
                </li>
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <img th:src="${'./images/avatar/av6.png'}" alt="profile"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="javascript:window.location = 'login'">
                            <i class="mdi mdi-logout text-primary"></i>
                            Logout
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-bell-outline mx-0"></i>
                        <span class="total-count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list notificationDropdown" aria-labelledby="notificationDropdown">
                        <a class="dropdown-item">
                            <span class="mb-0 font-weight-normal float-left">คุณมี แจ้งเตือน  <span class="total-notify">0</span> รายการ </span>
                        </a>
                        <div class="notify-body">

                        </div>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar"></nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div id="main-top"> <span>หน้าหลัก > ข้อมูลศึกษาต่อ/ไปแลกเปลี่ยน</span></div>
                <div id="main-body">
                    <span>Add</span>
                </div>
            </div>
            <footer class="footer d-none">
            </footer>
        </div>
    </div>
</div>
</body>
<script th:src="@{/plugin/jquery/jquery-3.4.js}"></script>
<script th:src="@{/plugin/serein/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/plugin/serein/vendors/js/vendor.bundle.addons.js}"></script>
<script th:src="@{/plugin/serein/js/off-canvas.js}"></script>
<script th:src="@{/plugin/serein/js/hoverable-collapse.js}"></script>
<script th:src="@{/plugin/serein/js/template.js}"></script>
<script th:src="@{/plugin/serein/js/settings.js}"></script>
<script th:src="@{/plugin/serein/js/todolist.js}"></script>
<script th:src="@{/plugin/serein/js/toastDemo.js}"></script>
<script th:src="@{/plugin/serein/js/desktop-notification.js}"></script>
<script th:src="@{/plugin/serein/js/dashboard.js}"></script>
<script th:src="@{/plugin/DataTables/datatables.min.js}"></script>
<script th:src="@{/plugin/DataTables/js/dataTables.bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script th:src="@{/app/pageHandler.js}"></script>
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:src="@{/plugin/bootstrap/bootstrap-toggle.min.js}"></script>
<script>
        $( document ).ready(function() {
            $.ajaxSetup({beforeSend: (xhr) =>{
                     xhr.setRequestHeader('Authorization', 'Bearer '+localStorage.getItem("access_token"));
                 }
            });
            $("#main-header").pageHandler({url:"/poba/header",data:{}});
            $("#sidebar").pageHandler({url:"/poba/sidebar",data:{}});
        });
    </script>

</html>

