<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ระบบฐานข้อมูลกลางคณะรัฐศาสตร์</title>
        <link rel="stylesheet" th:href="@{/plugin/serein/vendors/iconfonts/mdi/font/css/materialdesignicons.min.css}">
        <link rel="stylesheet" th:href="@{/plugin/serein/css/vertical-layout-dark/style.css}">
        <link rel="stylesheet" th:href="@{/plugin/DataTables/datatables.min.css}">
        <link rel="stylesheet" th:href="@{/plugin/DataTables/css/dataTables.bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/plugin/font-awesome/css/all.css}">
        <link rel="stylesheet" th:href="@{/app/app.css}">
        <link rel="stylesheet" th:href="@{/plugin/bootstrap/bootstrap-toggle.min.css}">
    </head>

    <body>
        <div class="container-scroller">
            <div th:replace="fragments/header"></div>

            <div class="container-fluid page-body-wrapper">
                <div th:replace="fragments/sidebar"></div>

                <div class="main-panel">
                    <div class="content-wrapper">

                        <div id="main-top">
                            <div id="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
                                    <li class="breadcrumb-item active">ข้อมูลประวัติบุคลากร</li>
                                </ol>
                            </div>
                        </div>

                        <div id="main-body">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>

    <script th:src="@{/plugin/jquery/jquery-3.4.js}"></script>
    <script th:src="@{/plugin/serein/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/plugin/serein/vendors/js/vendor.bundle.addons.js}"></script>
    <script th:src="@{/plugin/serein/js/off-canvas.js}"></script>
    <script th:src="@{/plugin/serein/js/hoverable-collapse.js}"></script>
    <script th:src="@{/plugin/serein/js/template.js}"></script>
    <script th:src="@{/plugin/DataTables/datatables.min.js}"></script>
    <script th:src="@{/plugin/DataTables/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/app/pageHandler.js}"></script>
    <script th:src="@{/plugin/bootstrap/bootstrap-toggle.min.js}"></script>
    <script>
        $(document).ready(() => {

        });
    </script>

</html>