<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="profile">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item active"><span>ข้อมูลประวัติบุคลากร</span></li>
        </ol>
    </div>

    <div class="px-3">

        <form id="form-researcher" class="form-inline justify-content-end flex-md-row flex-column">
            <div class="form-group mb-3">
                <label for="name" class="mr-1">ค้นหาข้อมูล:</label>
                <input id="name" type="text" class="form-control bg-white mr-3" placeholder="ค้นหาด้วยชื่อ">
            </div>
            <div class="form-group mb-3">
                <button type="button" class="btn btn-outline-poba mr-3" onclick="findProfileInfo()" th:if="${#lists.contains(roles, 'ROLE_PERSONNEL_INFO_PROFILE_SEARCH')}">ค้นหา</button>
                <a href="javascript:void(0)" onclick="loadView('/poba/personnel-info/profile/add')" class="btn btn-poba" th:if="${#lists.contains(roles, 'ROLE_PERSONNEL_INFO_PROFILE_ADD')}">เพิ่มข้อมูล</a>
            </div>
        </form>

        <div class="table table-responsive">
            <table id="table-profile" class="display" width="100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ชื่อ-นามสกุล</th>
                        <th>ชื่อโครงสร้างระดับ 2</th>
                        <th>อีเมลจุฬาฯ</th>
                        <th>เบอร์ห้องทํางาน</th>
                        <th>เบอร์มือถือ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6" class="dataTables_empty text-center bg-secondary">ข้อมูลประวัติบุคลากร</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</th:block>
</html>