<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<th:block layout:fragment="content">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="/poba/personnel-info/researchers">ข้อมูลอาจารย์ / นักวิจัยชาวต่างชาติ</a></li>
            <li class="breadcrumb-item active"><span th:text="${viewName}"></span></li>
        </ol>
    </div>

    <div id="noti-msg" class="col-sm-12 mb-4" style="width: 100%;
                  padding: 10px 0;
                  text-align: center;
                  background-color: rgb(107, 210, 125);
                  display:none;"><h4 style="color:white">บันทึกสำเร็จ</h4></div>

    <div class="p-3 h-100">
        <form id="form-researcher" class="form-wrapper">

            <div class="form-fields">

                <div class="row px-3 mb-3">
                    <label class="col-sm-2 pl-0 pb-1 col-form-label text-sm-right"
                           for="prefix">คำนำหน้า:</label>
                    <div class="col-lg-3 col-sm-4 px-0">
                        <select class="form-control" id="prefix" name="prefix" required>
                            <option value="" hidden>กรุณาเลือก</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Miss">Miss</option>
                            <option value="Mrs.">Mrs.</option>
                        </select>
                    </div>
                </div>

                <div class="row px-3 mb-3">
                    <label class="col-sm-2 pl-0 pb-1 col-form-label text-sm-right"
                           for="name">ชื่อ-นามสกุล:</label>
                    <div class="col-lg-5 col-md-8 col-sm-10 px-0">
                        <input type="text" class="form-control" id="name" name="name"/>
                    </div>
                </div>

                <div class="row px-3 mb-3">
                    <label class="col-sm-2 pl-0 pb-1 col-form-label text-sm-right"
                           for="status">คำนำหน้า:</label>
                    <div class="col-lg-3 col-sm-4 px-0 pb-sm-0 pb-3">
                        <select class="form-control" id="status" name="status" required>
                            <option value="" hidden>กรุณาเลือก</option>
                            <option value="อาจารย์">อาจารย์</option>
                            <option value="นักวิจัย">นักวิจัย</option>
                        </select>
                    </div>
                    <label class="col-lg-1 col-sm-2 pl-0 pb-1 col-form-label text-sm-right"
                           for="type">คำนำหน้า:</label>
                    <div class="col-lg-3 col-sm-4 px-0">
                        <select class="form-control" id="type" name="type" required>
                            <option value="" hidden>กรุณาเลือก</option>
                            <option value="Part time">Part time</option>
                            <option value="Full time">Full time</option>
                            <option value="นักวิจัยหลังปริญญาเอก (Postdoctoral)">นักวิจัยหลังปริญญาเอก (Postdoctoral)</option>
                        </select>
                    </div>
                </div>

                <div class="row px-3 mb-3">
                    <span class="col-12 px-0 py-3">ระยะเวลาในการปฏิบัติงาน/ว่างจ้าง</span>
                    <label class="col-sm-2 pl-0 pb-1 col-form-label text-sm-right"
                           for="work-start-date">วันที่เริ่มต้น:</label>
                    <div class="col-lg-3 col-sm-4 px-0 pb-sm-0 pb-3">
                        <input type="date" class="form-control" id="work-start-date" name="workStartDate" />
                    </div>
                    <label class="col-lg-1 col-sm-2 pl-0 pb-1 col-form-label text-sm-right"
                           for="work-end-date">วันที่สิ้นสุด:</label>
                    <div class="col-lg-3 col-sm-4 px-0">
                        <input type="date" class="form-control" id="work-end-date" name="workEndDate">
                    </div>
                </div>

                <div class="row px-3 mb-3">
                    <label class="col-sm-2 pl-0 pb-1 col-form-label text-sm-right"
                           for="note">หมายเหตุ:</label>
                    <div class="col-lg-5 col-md-8 col-sm-10 px-0">
                        <input type="text" class="form-control" id="note" name="noteOfWork">
                    </div>
                </div>

                <div class="row px-3 mb-3">
                    <label class="col-sm-2 pl-0 pb-1 col-form-label text-sm-right"
                           for="doc-of-work">เอกสารสัญญาจ้าง:</label>
                    <div class="col px-0">
                        <button class="btn btn-outline-poba" id="doc-of-work">เลือกไฟล์</button>
                    </div>
                </div>

            </div>

            <div class="form-buttons">
                <button type="button" class="btn btn-poba mr-3" onclick="">กลับ</button>
                <button type="button" class="btn btn-outline-poba" onclick="submitResearcherInfo();">เพิ่ม</button>
            </div>

        </form>
    </div>

    <script>
        $(document).ready(function() {

        });
    </script>

</th:block>
</html>