<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<th:block layout:fragment="content">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="/poba/personnel-info/researchers">ข้อมูลอาจารย์ / นักวิจัยชาวต่างชาติ</a></li>
            <li class="breadcrumb-item active"><span th:text="${viewName}"></span></li>
        </ol>
    </div>

    <div class="p-3 h-100">
        <form id="form-researcher" class="form-wrapper">

            <div class="form-fields">

                <div class="row mb-3">
                    <label for="prefix" class="col-sm-2 col-form-label text-md-right">คำนำหน้า:</label>
                    <div class="col-lg-3 col-sm-4 pl-sm-0">
                        <select class="form-control" id="prefix" required>
                            <option value="" hidden>กรุณาเลือก</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Miss">Miss</option>
                            <option value="Mrs.">Mrs.</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="name" class="col-sm-2 col-form-label text-md-right">ชื่อ-นามสกุล:</label>
                    <div class="col-lg-5 col-md-8 col-sm-10 pl-sm-0">
                        <input type="text" class="form-control" id="name">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="status" class="col-sm-2 col-form-label text-md-right">คำนำหน้า:</label>
                    <div class="col-lg-3 col-sm-4 pl-sm-0">
                        <select class="form-control" id="status" required>
                            <option value="" hidden>กรุณาเลือก</option>
                            <option value="อาจารย์">อาจารย์</option>
                            <option value="นักวิจัย">นักวิจัย</option>
                        </select>
                    </div>
                    <label for="type" class="col-lg-1 col-sm-2 col-form-label text-md-right">คำนำหน้า:</label>
                    <div class="col-lg-3 col-sm-4 pl-sm-0">
                        <select class="form-control" id="type" required>
                            <option value="" hidden>กรุณาเลือก</option>
                            <option value="Part time">Part time</option>
                            <option value="Full time">Full time</option>
                            <option value="นักวิจัยหลังปริญญาเอก (Postdoctoral)">นักวิจัยหลังปริญญาเอก (Postdoctoral)</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <span class="col-12 pt-2 pb-4">ระยะเวลาในการปฏิบัติงาน/ว่างจ้าง</span>
                    <label for="work-start-date" class="col-sm-2 col-form-label text-md-right">วันที่เริ่มต้น:</label>
                    <div class="col-lg-3 col-sm-4 pl-sm-0">
                        <input type="date" class="form-control" id="work-start-date" value="">
                    </div>
                    <label for="work-end-date" class="col-lg-1 col-sm-2 col-form-label text-md-right">วันที่สิ้นสุด:</label>
                    <div class="col-lg-3 col-sm-4 pl-sm-0">
                        <input type="date" class="form-control" id="work-end-date" value="">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="note" class="col-sm-2 col-form-label text-md-right">หมายเหตุ:</label>
                    <div class="col-lg-5 col-md-8 col-sm-10 pl-sm-0">
                        <input type="text" class="form-control" id="note">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="doc-of-work" class="col-sm-2 col-form-label text-md-right">เอกสารสัญญาจ้าง:</label>
                    <div class="col pl-sm-0">
                        <button class="btn btn-outline-poba" id="doc-of-work">เลือกไฟล์</button>
                    </div>
                </div>

            </div>

            <div class="form-buttons">
                <button type="submit" class="btn btn-outline-poba mr-3">ค้นหา</button>
                <button type="submit" class="btn btn-poba">เพิ่มข้อมูล</button>
            </div>

        </form>
    </div>

    <script>
        $(document).ready(function() {

        });
    </script>

</th:block>
</html>