<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<th:block layout:fragment="content">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item active"><span>ข้อมูลอาจารย์ / นักวิจัยชาวต่างชาติ</span></li>
        </ol>
    </div>

    <div class="px-3">

        <form id="form-researcher" class="mb-5">
            <div class="d-flex flex-xl-row flex-column">
                <div class="row px-3 mb-xl-0 mb-3 flex-xl-fill">
                    <label for="name" class="col-2 text-sm-right col-form-label">ค้นหาข้อมูล:</label>
                    <input id="name" type="text" class="col-10 form-control flex-xl-grow-1" placeholder="ค้นหาด้วยชื่อ">
                </div>
                <div class="row px-3 mb-xl-0 mb-3">
                    <label for="work-start-date" class="col-2 text-sm-right col-form-label">วันที่ไป:</label>
                    <input id="work-start-date" type="date" class="col-4 form-control">
                    <label for="work-end-date" class="col-2 text-sm-right col-form-label">วันที่กลับ:</label>
                    <input id="work-end-date" type="date" class="col-4 form-control">
                </div>
                <div class="pl-xl-3 d-inline-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-poba mr-3">ค้นหา</button>
                    <a class="btn btn-poba" href="/poba/personnel-info/researchers/add">เพิ่มข้อมูล</a>
                </div>
            </div>
        </form>

        <div class="table table-responsive">
            <table id="table-education" class="display" width="100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ชื่อ-นามสกุล</th>
                    <th>มหาวิทยาลัย/สถาบันที่ไป</th>
                    <th>ประเทศ</th>
                    <th>วันที่ไป</th>
                    <th>วันที่กลับ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="6" class="dataTables_empty text-center bg-secondary">อาจารย์ / นักวิจัยชาวต่างชาติ</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script>
        $(document).ready(function() {

        });
    </script>

</th:block>
</html>