<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="researchers">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loadView('/poba/home')">หน้าหลัก</a></li>
            <li class="breadcrumb-item active"><span>ข้อมูลอาจารย์ / นักวิจัยชาวต่างชาติ</span></li>
        </ol>
    </div>

    <div class="px-3">

        <th:block th:replace="~{fragments/alert}"/>

        <form id="form-researcher" class="mb-5">
            <div class="d-flex flex-xl-row flex-column">
                <div class="row px-3 mb-xl-0 mb-3 flex-xl-fill">
                    <label for="name" class="col-3 text-sm-right col-form-label">ค้นหาข้อมูล:</label>
                    <input id="name" type="text" class="col-9 form-control flex-xl-grow-1" placeholder="ค้นหาด้วยชื่อ">
                </div>
                <div class="row px-3 mb-xl-0 mb-3">
                    <label for="work-start-date" class="col-2 text-sm-right col-form-label">วันที่เริ่มต้น:</label>
                    <input id="work-start-date" type="date" class="col-4 form-control">
                    <label for="work-end-date" class="col-2 text-sm-right col-form-label">วันที่สิ้นสุด:</label>
                    <input id="work-end-date" type="date" class="col-4 form-control">
                </div>
                <div class="pl-xl-3 d-inline-flex justify-content-end">
                    <button type="button" class="btn btn-outline-poba mr-3" onclick="findResearcherInfo()">ค้นหา</button>
                    <a class="btn btn-poba" href="javascript:void(0)" onclick="loadView('/poba/personnel-info/researchers/add')">เพิ่มข้อมูล</a>
                </div>
            </div>
        </form>

        <div class="table table-responsive">
            <table id="table-researcher" class="display" width="100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ชื่อ-นามสกุล</th>
                    <th>สถานะ</th>
                    <th>ประเภท</th>
                    <th>อาจารย์ท่านที่ 1</th>
                    <th>อาจารย์ท่านที่ 2</th>
                    <th>ส่วนงานย่อย</th>
                    <th>วันที่เริ่มต้น</th>
                    <th>วันที่สิ้นสุด</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="9" class="dataTables_empty text-center bg-secondary">อาจารย์ / นักวิจัยชาวต่างชาติ</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</th:block>
</html>