<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="study-form">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loadView('/poba/personnel-info/study')">ข้อมูลศึกษาต่อ / ไปแลกเปลี่ยน</a></li>
            <li class="breadcrumb-item active"><span th:text="${viewName}"></span></li>
        </ol>
    </div>

    <div class="container px-3">
        <th:block th:replace="~{fragments/input-errors}"/>

        <form id="form-study" class="form-wrapper">
            <input type="hidden" id="staffId" name="staffId" th:value="${studyInfo.staffId}"/>
            <input type="hidden" id="persNo" name="persNo" th:field="${studyInfo.persNo}"/>
            <div class="row mb-2">
                <label class="col-sm-3 form-control-label" for="prefix">คำนำหน้า<span style="color:red !important;">*</span>:</label>
                <input type="text" class="col-sm-2 form-control bg-white" id="prefix" name="prefix"
                       th:value="${studyInfo.prefix}" placeholder="กรุณากดปุ่ม ค้นหา" readonly/>
                <label for="name" class="form-control-label ml-3">ชื่อ-นามสกุล<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="name" name="name"
                       th:value="${studyInfo.name}" placeholder="กรุณากดปุ่ม ค้นหา" readonly/>
                <button type="button" class="btn btn-poba btn-search ml-2" data-toggle="modal" data-target="#personnelModal">ค้นหา</button>
            </div>
            <div class="row mb-2">
                <label for="travelOrder" class="form-control-label col-sm-3">คำสั่งเดินทาง<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="travelOrder" name="travelOrder"
                       th:attr="value=${studyInfo.travelOrder != null}? ${studyInfo.travelOrder}: ''" maxlength="255" required/>
            </div>
            <div class="row mb-2">
                <label for="startDate" class="form-control-label col-sm-3">วันที่ไป<span style="color:red !important;">*</span>:</label>
                <input type="date" class="form-control bg-white col-sm-2" id="startDate" name="startDate" onchange="startDateChange();"
                       th:attr="value=${studyInfo.startDate != null}? ${studyInfo.startDate}: ''" required/>
                <label for="endDate" class="ml-3 mr-2">วันที่กลับ<span style="color:red !important;">*</span>:</label>
                <input type="date" class="form-control bg-white col-sm-2" id="endDate" name="endDate"onchange="endDateChange();"
                       th:attr="value=${studyInfo.endDate != null}? ${studyInfo.endDate}: ''" required/>
            </div>
            <div class="row mb-2">
                <label for="totalDay" class="form-control-label col-sm-3">จำนวน:</label>
                <input type="text" class="form-control bg-gray col-sm-1" id="totalYear" name="totalYear" readonly
                       th:attr="value=${studyInfo.totalYear != null}? ${studyInfo.totalYear}: ''"/>
                <label for="totalDay" class="ml-2 mr-3">ปี</label>
                <input type="text" class="form-control bg-gray col-sm-1" id="totalMonth" name="totalMonth" readonly
                       th:attr="value=${studyInfo.totalMonth != null}? ${studyInfo.totalMonth}: ''"/>
                <label for="totalDay" class="ml-2 mr-3">เดือน</label>
                <input type="text" class="form-control bg-gray col-sm-1" id="totalDay" name="totalDay" readonly
                       th:attr="value=${studyInfo.totalDay != null}? ${studyInfo.totalDay}: ''"/>
                <label for="totalDay" class="ml-2 mr-3">วัน</label>
            </div>
            <div class="row mb-2">
                <label for="activityDetail" class="form-control-label col-sm-3">รายละเอียดกิจกรรม<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="activityDetail" name="activityDetail"
                       th:attr="value=${studyInfo.activityDetail != null}? ${studyInfo.activityDetail}: ''" maxlength="255" required/>
            </div>
            <div class="row mb-2">
                <label for="location" class="form-control-label col-sm-3">มหาวิทยาลัย/สถาบันที่ไป<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="location" name="location"
                       th:attr="value=${studyInfo.location != null}? ${studyInfo.location}: ''" maxlength="255" required/>
                <label for="locationType" class="form-control-label col-sm-2">ประเภท<span style="color:red !important;">*</span>:</label>
                <select class="form-control bg-white col-sm-3" id="locationType" name="locationType" required>
                    <option value="">กรุณาเลือก</option>
                    <option value="ในประเทศ" th:selected="${studyInfo.locationType == 'ในประเทศ'}? 'selected'">ในประเทศ</option>
                    <option value="ต่างประเทศ" th:selected="${studyInfo.locationType == 'ต่างประเทศ'}? 'selected'">ต่างประเทศ</option>
                </select>
            </div>
            <div class="row mb-2">
                <label for="country" class="form-control-label col-sm-3">ชื่อประเทศ<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="country" name="country"
                       th:attr="value=${studyInfo.country != null}? ${studyInfo.country}: ''" maxlength="255" required/>
                <label for="fund" class="form-control-label col-sm-2">แหล่งทุน<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-3" id="fund" name="fund"
                       th:attr="value=${studyInfo.fund != null}? ${studyInfo.fund}: ''" maxlength="255" required/>
            </div>
            <div class="row justify-content-center mt-5">
                <button type="button" class="btn btn-poba mr-3" onclick="submitStudyInfo();" th:if="${#lists.contains(roles, 'ROLE_PERSONNEL_INFO_STUDY_ADD') || #lists.contains(roles, 'ROLE_PERSONNEL_INFO_STUDY_EDIT')}">บันทึก</button>
                <a href="javascript:void(0)" onclick="loadView('/poba/personnel-info/study')" class="btn btn-outline-poba mr-3">ยกเลิก</a>
            </div>
        </form>
    </div>

</th:block>
</html>