<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="study-view">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loadView('/poba/personnel-info/study')">ข้อมูลศึกษาต่อ / ไปแลกเปลี่ยน</a></li>
            <li class="breadcrumb-item active"><span>ดูข้อมูล</span></li>
        </ol>
    </div>

    <div class="container px-3">
        <th:block th:replace="~{fragments/alert}"/>

        <form id="form-study-view">
            <div class="row">
                <label for="name" class="form-control-label col-sm-3">ชื่อ-นามสกุล:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="name" name="name" th:value="|${studyInfo.prefix} ${studyInfo.name}|" readonly>
            </div>
            <div class="row">
                <label for="travelOrder" class="form-control-label col-sm-3">คำสั่งเดินทาง:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="travelOrder" name="travelOrder" th:value="${studyInfo.travelOrder}" readonly>
            </div>
            <div class="row">
                <label for="startDate" class="form-control-label col-sm-3">วันที่ไป:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="startDate" name="startDate" th:value="${studyInfo.startDate}" readonly>
            </div>
            <div class="row">
                <label for="endDate" class="form-control-label col-sm-3">วันที่กลับ:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="endDate" name="endDate" th:value="${studyInfo.endDate}" readonly>
            </div>
            <div class="row">
                <label for="totalYear" class="form-control-label col-sm-3">จำนวน:</label>
                <input type="text" class="form-control bg-gray col-sm-1" id="totalYear" name="totalYear" readonly
                       th:attr="value=${studyInfo.totalYear != null}? ${studyInfo.totalYear}: ''"/>
                <label for="totalDay" class="ml-2 mr-3">ปี</label>
                <input type="text" class="form-control bg-gray col-sm-1" id="totalMonth" name="totalMonth" readonly
                       th:attr="value=${studyInfo.totalMonth != null}? ${studyInfo.totalMonth}: ''"/>
                <label for="totalDay" class="ml-2 mr-3">เดือน</label>
                <input type="text" class="form-control bg-gray col-sm-1" id="totalDay" name="totalDay" readonly
                       th:attr="value=${studyInfo.totalDay != null}? ${studyInfo.totalDay}: ''"/>
                <label for="totalDay" class="ml-2 mr-3">วัน</label>

            </div>
            <div class="row">
                <label for="activityDetail" class="form-control-label col-sm-3">รายละเอียดกิจกรรม:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="activityDetail" name="activityDetail" th:value="${studyInfo.activityDetail}" readonly>
            </div>
            <div class="row">
                <label for="location" class="form-control-label col-sm-3">มหาวิทยาลัย/สถาบันที่ไป:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="location" name="location" th:value="${studyInfo.location}" readonly>
            </div>
            <div class="row">
                <label for="locationType" class="form-control-label col-sm-3">ประเภท:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="locationType" name="location" th:value="${studyInfo.locationType}" readonly>
            </div>
            <div class="row">
                <label for="country" class="form-control-label col-sm-3">ชื่อประเทศ:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="country" name="location" th:value="${studyInfo.country}" readonly>
            </div>
            <div class="row">
                <label for="fund" class="form-control-label col-sm-3">แหล่งทุน:</label>
                <input type="text" class="form-control bg-white col-sm-6" id="fund" name="fund" th:value="${studyInfo.fund}" readonly>
            </div>
            <div class="row justify-content-center mt-5">
                <a href="javascript:void(0)" onclick="loadView('/poba/personnel-info/study')" class="btn btn-poba mr-3">กลับ</a>
                <a href="javascript:void(0)" th:onclick="|loadView('/poba/personnel-info/study/${studyInfo.staffId}/edit')|" class="btn btn-outline-poba">แก้ไข</a>
            </div>
        </form>
    </div>

    <script th:if="${timeout}">
        window.setTimeout(function() {
            loadView('/poba/personnel-info/study');
        }, 3000);
    </script>

</th:block>
</html>