<nav aria-label="breadcrumb" xmlns:th="http://www.thymeleaf.org" th:fragment="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:window.location = 'home'">หน้าหลัก</a></li>aaaa
    </ol>
</nav>
<script>
    $(document).ready(() => {
        $('#sidebar div.collapse a.nav-link').on('click', function() {
            var $ol = $('#breadcrumb ol.breadcrumb');
            $ol.append($(this).parent().clone());
            $ol.find('li.breadcrumb-item:last-child').addClass('active');
            return false;
        });
    });
</script>