<head xmlns:th="http://www.thymeleaf.org">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ระบบฐานข้อมูลกลางคณะรัฐศาสตร์</title>

    <link rel="stylesheet" th:href="@{/plugin/serein/vendors/iconfonts/mdi/font/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/plugin/serein/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/plugin/serein/vendors/css/vendor.bundle.addons.css}">
    <link rel="stylesheet" th:href="@{/plugin/serein/css/vertical-layout-dark/style.css}">
    <link rel="shortcut icon" th:href="@{/plugin/serein/images/favicon.png}"/>
    <!--<link rel="stylesheet" th:href="@{/plugin/DataTables/datatables.min.css}">-->
    <!--<link rel="stylesheet" th:href="@{/plugin/DataTables/css/dataTables.bootstrap.min.css}">-->
    <link rel="stylesheet" th:href="@{/plugin/font-awesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/app/app.css}">
    <link rel="stylesheet" th:href="@{/plugin/bootstrap/bootstrap-toggle.min.css}">

    <script th:src="@{/plugin/jquery/jquery-3.4.js}"></script>
    <script th:src="@{/plugin/serein/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/plugin/serein/vendors/js/vendor.bundle.addons.js}"></script>
    <script th:src="@{/plugin/serein/js/off-canvas.js}"></script>
    <script th:src="@{/plugin/serein/js/hoverable-collapse.js}"></script>
    <script th:src="@{/plugin/serein/js/template.js}"></script>
    <!--<script th:src="@{/plugin/DataTables/datatables.min.js}"></script>-->
    <!--<script th:src="@{/plugin/DataTables/js/dataTables.bootstrap.min.js}"></script>-->
    <script th:src="@{/app/pageHandler.js}"></script>
    <script th:src="@{/app/app.js}"></script>
    <script th:src="@{/app/personnelInfo.js}"></script>
    <script th:src="@{/app/teachingInfo.js}"></script>
    <script th:src="@{/app/consultant.js}"></script>
    <script th:src="@{/app/reward.js}"></script>
    <script th:src="@{/app/published.js}"></script>
    <script th:src="@{/app/presenting.js}"></script>
    <script th:src="@{/app/textbook.js}"></script>
    <script th:src="@{/app/academicService.js}"></script>
    <script th:src="@{/app/training.js}"></script>
    <script th:src="@{/app/pressinfo.js}"></script>
    <script th:src="@{/app/student.js}"></script>
    <script th:src="@{/app/project.js}"></script>
    <script th:src="@{/app/polsci.js}"></script>
    <script th:src="@{/plugin/bootstrap/bootstrap-toggle.min.js}"></script>

<!--    <link rel="stylesheet" th:href="@{/plugin/datepicker/css/jquery-ui-1.8.10.custom.css}" />-->
<!--    <script th:src="@{/plugin/datepicker/js/jquery-1.4.4.min.js}"></script>-->
<!--    <script th:src="@{/plugin/datepicker/js/jquery-ui-1.8.10.offset.datepicker.min.js}"></script>-->

</head>