<nav id="sidebar" class="sidebar sidebar-offcanvas" xmlns:th="http://www.thymeleaf.org">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#menu-personnel-info" aria-expanded="false" aria-controls="menu-personnel-info">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">ข้อมูลบุคลากร</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="menu-personnel-info">
                <ul class="nav flex-column sub-menu left-menu">
                    <li class="nav-item"><a class="nav-link" href="/poba/personnel-info/profile">ประวัติบุคลากร</a></li>
                    <li class="nav-item"><a class="nav-link" href="/poba/personnel-info/education">ศึกษาต่อ / ไปแลกเปลี่ยน</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)" onclick="loadView('/poba/personnel-info/researchers')">อาจารย์ / นักวิจัยชาวต่างชาติ</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/poba/teaching">
                <i class="mdi mdi-book-open-page-variant menu-icon"></i>
                <span class="menu-title">ข้อมูลการสอน</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-user" aria-expanded="false" aria-controls="ui-user">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">ข้อมูลที่ปรึกษานิสิต</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-user">
                <ul class="nav flex-column sub-menu left-menu">
                    <li class="nav-item"><a class="nav-link" href="/poba/consultant/students">ที่ปรึกษาระดับปริญญา ตรี โท เอก</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);">...</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-farm-inside" aria-expanded="false" aria-controls="ui-farm-inside">
                <i class="mdi mdi-certificate menu-icon"></i>
                <span class="menu-title">ข้อมูลผลงานวิชาการ</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-farm-inside">
                <ul class="nav flex-column sub-menu left-menu">
                    <li class="nav-item"><a class="nav-link" href="/poba/rewards">ข้อมูลการรับรางวัล</a></li>
                    <li class="nav-item"><a class="nav-link" href="/poba/published">ข้อมูลการเผยแพร่บทความ</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" onclick="javascript:void(0);">...</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-farm-inside2" aria-expanded="false" aria-controls="ui-farm-inside">
                <i class="mdi mdi-account-card-details menu-icon"></i>
                <span class="menu-title">ข้อมูลนิสิต</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-farm-inside2">
                <ul class="nav flex-column sub-menu left-menu">
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" onclick="javascript:void(0);">...</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" onclick="javascript:void(0);">...</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" onclick="javascript:void(0);">...</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-farm-inside3" aria-expanded="false" aria-controls="ui-farm-inside">
                <i class="mdi mdi-calendar menu-icon"></i>
                <span class="menu-title">โครงการ / กิจกรรม</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-farm-inside3">
                <ul class="nav flex-column sub-menu left-menu">
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" onclick="javascript:void(0);">...</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" onclick="javascript:void(0);">...</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" onclick="javascript:void(0);">...</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-farm-inside4" aria-expanded="false" aria-controls="ui-farm-inside">
                <i class="mdi mdi-book menu-icon"></i>
                <span class="menu-title">มัติกรรมการคณะ</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-farm-inside4">
                <ul class="nav flex-column sub-menu left-menu">
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" onclick="javascript:void(0);">...</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" onclick="javascript:void(0);">...</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" onclick="javascript:void(0);">...</a></li>
                </ul>
            </div>
        </li>

    </ul>
</nav>