<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<th:block layout:fragment="content">

    <div class="row justify-content-center mt-5">
        <div class="col text-center">
            <span class="display-1">ไม่พบหน้า</span>
            <div class="mb-4">ขออภัยไม่พบหน้าเว็บไซต์ที่คุณต้องการ</div>
            <a href="/poba/home" class="btn btn-poba">กลับหน้าแรก</a>
        </div>
    </div>

</th:block>
</html>