<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="press-form">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a  href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a  href="javascript:void(0)" onclick="loadView('/poba/press')">ข้อมูลการออกสื่อ</a></li>
            <li class="breadcrumb-item active" ><span id="viewName" th:text="${viewName}"></span></li>
        </ol>
    </div>

    <div class="container px-3">
        <th:block th:replace="~{fragments/input-errors}"/>
        <th:block th:replace="~{fragments/alert}"/>

        <form id="form-press" class="form-wrapper">
            <input type="hidden" id="pressId" name="pressId" th:value="${press.pressId}"/>
            <div class="row mb-2">
                <label class="col-sm-2 form-control-label" for="prefix">คำนำหน้า<span style="color:red !important;">*</span>:</label>
                <select type="text" class="col-sm-2 form-control bg-white" id="prefix" name="prefix"required>
                    <option value="">กรุณาเลือก</option>
                    <option value="นาย" th:selected="${press.prefix == 'นาย'}? 'selected'">นาย</option>
                    <option value="นางสาว" th:selected="${press.prefix == 'นางสาว'}? 'selected'">นางสาว</option>
                    <option value="นาง" th:selected="${press.prefix == 'นาง'}? 'selected'">นาง</option>
                    <option value="อ." th:selected="${press.prefix == 'อ.'}? 'selected'">อ.</option>
                    <option value="อ.ดร." th:selected="${press.prefix == 'อ.ดร.'}? 'selected'">อ.ดร.</option>
                    <option value="ผศ." th:selected="${press.prefix == 'ผศ.'}? 'selected'">ผศ.</option>
                    <option value="ผศ.ดร." th:selected="${press.prefix == 'ผศ.ดร.'}? 'selected'">ผศ.ดร.</option>
                    <option value="รศ." th:selected="${press.prefix == 'รศ.'}? 'selected'">รศ.</option>
                    <option value="รศ.ดร." th:selected="${press.prefix == 'รศ.ดร.'}? 'selected'">รศ.ดร.</option>
                    <option value="ศ." th:selected="${press.prefix == 'ศ.'}? 'selected'">ศ.</option>
                    <option value="ศ.ดร." th:selected="${press.prefix == 'ศ.ดร.'}? 'selected'">ศ.ดร.</option>
                    <option value="อื่นๆ" th:selected="${press.prefix == 'อื่นๆ'}? 'selected'">อื่นๆ</option>
                </select>

                <div id="prefixOtherTmp" class="col-sm-2" th:classappend="${press.prefix == 'อื่นๆ'}? 'd-none':'d-block'"></div>
                <input type="text" class="form-control bg-white col-sm-2" id="prefixOther" name="prefixOther" placeholder="อื่นๆ โปรดระบุ"
                       th:attr="value=${press.prefixOther != null}? ${press.prefixOther}: ''"
                       th:classappend="${press.prefix == 'อื่นๆ'}? 'd-block':'d-none'"
                       th:disabled="${press.pressId != 0}"/>

                <label for="name" class="form-control-label col-sm-2">ชื่อ-นามสกุล<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="name" name="name"
                       th:attr="value=${press.name != null}? ${press.name}: ''" maxlength="255" required/>
            </div>

            <div class="row mb-2">
                <label for="pressName" class="form-control-label col-sm-2">ชื่อผลงานความรู้ที่เผยแพร่:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="pressName" name="pressName"
                       th:attr="value=${press.pressName != null}? ${press.pressName} : ''" maxlength="255"/>
                <label for="pressDate" class="form-control-label col-sm-2">วันที่เผยแพร่:</label>
                <input type="date" class="form-control bg-white col-sm-4" id="pressDate" name="pressDate"
                       th:attr="value=${press.pressDate != null}? ${press.pressDate} : ''"/>
            </div>

            <div class="row mb-2">
                <label for="pressTopic" class="form-control-label col-sm-2">รูปแบบเนื้อหาที่ปรากฎในสื่อ:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="pressTopic" name="pressTopic"
                       th:attr="value=${press.pressTopic != null}? ${press.pressTopic} : ''" maxlength="255"/>
                <label for="pressSiteRef" class="form-control-label col-sm-2">เว็บไซต์อ้างอิง:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="pressSiteRef" name="pressSiteRef"
                       th:attr="value=${press.pressSiteRef != null}? ${press.pressSiteRef} : ''" maxlength="255"/>
            </div>

            <div class="row mb-2">
                <label for="pressPrint" class="form-control-label col-sm-2">[ช่องทาง] สิ่งพิมพ์:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="pressPrint" name="pressPrint"
                       th:attr="value=${press.pressPrint != null}? ${press.pressPrint} : ''" maxlength="255"/>
                <label for="pressTv" class="form-control-label col-sm-2">[ช่องทาง] ทีวีดิจิทัล:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="pressTv" name="pressTv"
                       th:attr="value=${press.pressTv != null}? ${press.pressTv} : ''" maxlength="255"/>
            </div>

            <div class="row mb-2">
                <label for="pressSatellite" class="form-control-label col-sm-2">[ช่องทาง] cable/satellite:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="pressSatellite" name="pressSatellite"
                       th:attr="value=${press.pressSatellite != null}? ${press.pressSatellite} : ''" maxlength="255"/>
                <label for="pressOnline" class="form-control-label col-sm-2">[ช่องทาง] ออนไลน์:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="pressOnline" name="pressOnline"
                       th:attr="value=${press.pressOnline != null}? ${press.pressOnline} : ''" maxlength="255"/>
            </div>

            <div class="row col-sm-12 mb-2">
                <label><b>ข้อมูลแขกรับเชิญ</b></label>
            </div>

            <div class="row mb-2">
                <label class="col-sm-2 form-control-label" for="guestPrefix1">คำนำหน้า:</label>
                <select type="text" class="col-sm-2 form-control bg-white" id="guestPrefix1" name="guestPrefix1">
                    <option value="">กรุณาเลือก</option>
                    <option value="นาย" th:selected="${press.guestPrefix1 == 'นาย'}? 'selected'">นาย</option>
                    <option value="นางสาว" th:selected="${press.guestPrefix1 == 'นางสาว'}? 'selected'">นางสาว</option>
                    <option value="นาง" th:selected="${press.guestPrefix1 == 'นาง'}? 'selected'">นาง</option>
                    <option value="อ." th:selected="${press.guestPrefix1 == 'อ.'}? 'selected'">อ.</option>
                    <option value="อ.ดร." th:selected="${press.guestPrefix1 == 'อ.ดร.'}? 'selected'">อ.ดร.</option>
                    <option value="ผศ." th:selected="${press.guestPrefix1 == 'ผศ.'}? 'selected'">ผศ.</option>
                    <option value="ผศ.ดร." th:selected="${press.guestPrefix1 == 'ผศ.ดร.'}? 'selected'">ผศ.ดร.</option>
                    <option value="รศ." th:selected="${press.guestPrefix1 == 'รศ.'}? 'selected'">รศ.</option>
                    <option value="รศ.ดร." th:selected="${press.guestPrefix1 == 'รศ.ดร.'}? 'selected'">รศ.ดร.</option>
                    <option value="ศ." th:selected="${press.guestPrefix1 == 'ศ.'}? 'selected'">ศ.</option>
                    <option value="ศ.ดร." th:selected="${press.guestPrefix1 == 'ศ.ดร.'}? 'selected'">ศ.ดร.</option>
                    <option value="อื่นๆ" th:selected="${press.guestPrefix1 == 'อื่นๆ'}? 'selected'">อื่นๆ</option>
                </select>

                <div id="prefixOtherTmp1" class="col-sm-2" th:classappend="${press.guestPrefix1 == 'อื่นๆ'}? 'd-none':'d-block'"></div>
                <input type="text" class="form-control bg-white col-sm-2" id="guestPrefixOther1" name="guestPrefixOther1" placeholder="อื่นๆ โปรดระบุ"
                       th:attr="value=${press.guestPrefixOther1 != null}? ${press.guestPrefixOther1}: ''"
                       th:classappend="${press.guestPrefix1 == 'อื่นๆ'}? 'd-block':'d-none'"
                       th:disabled="${press.pressId != 0}"/>

                <label for="guestName1" class="form-control-label col-sm-2">ชื่อ-นามสกุล:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="guestName1" name="guestName1"
                       th:attr="value=${press.guestName1 != null && press.guestName1 != 'null'}? ${press.guestName1}: ''" maxlength="255"/>
            </div>

            <div class="row mb-2">
                <label class="col-sm-2 form-control-label" for="guestPrefix2">คำนำหน้า:</label>
                <select type="text" class="col-sm-2 form-control bg-white" id="guestPrefix2" name="guestPrefix2">
                    <option value="">กรุณาเลือก</option>
                    <option value="นาย" th:selected="${press.guestPrefix2 == 'นาย'}? 'selected'">นาย</option>
                    <option value="นางสาว" th:selected="${press.guestPrefix2 == 'นางสาว'}? 'selected'">นางสาว</option>
                    <option value="นาง" th:selected="${press.guestPrefix2 == 'นาง'}? 'selected'">นาง</option>
                    <option value="อ." th:selected="${press.guestPrefix2 == 'อ.'}? 'selected'">อ.</option>
                    <option value="อ.ดร." th:selected="${press.guestPrefix2 == 'อ.ดร.'}? 'selected'">อ.ดร.</option>
                    <option value="ผศ." th:selected="${press.guestPrefix2 == 'ผศ.'}? 'selected'">ผศ.</option>
                    <option value="ผศ.ดร." th:selected="${press.guestPrefix2 == 'ผศ.ดร.'}? 'selected'">ผศ.ดร.</option>
                    <option value="รศ." th:selected="${press.guestPrefix2 == 'รศ.'}? 'selected'">รศ.</option>
                    <option value="รศ.ดร." th:selected="${press.guestPrefix2 == 'รศ.ดร.'}? 'selected'">รศ.ดร.</option>
                    <option value="ศ." th:selected="${press.guestPrefix2 == 'ศ.'}? 'selected'">ศ.</option>
                    <option value="ศ.ดร." th:selected="${press.guestPrefix2 == 'ศ.ดร.'}? 'selected'">ศ.ดร.</option>
                    <option value="อื่นๆ" th:selected="${press.guestPrefix2 == 'อื่นๆ'}? 'selected'">อื่นๆ</option>
                </select>

                <div id="prefixOtherTmp2" class="col-sm-2" th:classappend="${press.guestPrefix2 == 'อื่นๆ'}? 'd-none':'d-block'"></div>
                <input type="text" class="form-control bg-white col-sm-2" id="guestPrefixOther2" name="guestPrefixOther2" placeholder="อื่นๆ โปรดระบุ"
                       th:attr="value=${press.guestPrefixOther2 != null}? ${press.guestPrefixOther2}: ''"
                       th:classappend="${press.guestPrefix2 == 'อื่นๆ'}? 'd-block':'d-none'"
                       th:disabled="${press.pressId != 0}"/>

                <label for="guestName2" class="form-control-label col-sm-2">ชื่อ-นามสกุล:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="guestName2" name="guestName2"
                       th:attr="value=${press.guestName2 != null && press.guestName2 != 'null'}? ${press.guestName2}: ''" maxlength="255"/>
            </div>

            <div class="row mb-2">
                <label class="col-sm-2 form-control-label" for="guestPrefix3">คำนำหน้า:</label>
                <select type="text" class="col-sm-2 form-control bg-white" id="guestPrefix3" name="guestPrefix3">
                    <option value="">กรุณาเลือก</option>
                    <option value="นาย" th:selected="${press.guestPrefix3 == 'นาย'}? 'selected'">นาย</option>
                    <option value="นางสาว" th:selected="${press.guestPrefix3 == 'นางสาว'}? 'selected'">นางสาว</option>
                    <option value="นาง" th:selected="${press.guestPrefix3 == 'นาง'}? 'selected'">นาง</option>
                    <option value="อ." th:selected="${press.guestPrefix3 == 'อ.'}? 'selected'">อ.</option>
                    <option value="อ.ดร." th:selected="${press.guestPrefix3 == 'อ.ดร.'}? 'selected'">อ.ดร.</option>
                    <option value="ผศ." th:selected="${press.guestPrefix3 == 'ผศ.'}? 'selected'">ผศ.</option>
                    <option value="ผศ.ดร." th:selected="${press.guestPrefix3 == 'ผศ.ดร.'}? 'selected'">ผศ.ดร.</option>
                    <option value="รศ." th:selected="${press.guestPrefix3 == 'รศ.'}? 'selected'">รศ.</option>
                    <option value="รศ.ดร." th:selected="${press.guestPrefix3 == 'รศ.ดร.'}? 'selected'">รศ.ดร.</option>
                    <option value="ศ." th:selected="${press.guestPrefix3 == 'ศ.'}? 'selected'">ศ.</option>
                    <option value="ศ.ดร." th:selected="${press.guestPrefix3 == 'ศ.ดร.'}? 'selected'">ศ.ดร.</option>
                    <option value="อื่นๆ" th:selected="${press.guestPrefix3 == 'อื่นๆ'}? 'selected'">อื่นๆ</option>
                </select>

                <div id="prefixOtherTmp3" class="col-sm-2" th:classappend="${press.guestPrefix3 == 'อื่นๆ'}? 'd-none':'d-block'"></div>
                <input type="text" class="form-control bg-white col-sm-2" id="guestPrefixOther3" name="guestPrefixOther3" placeholder="อื่นๆ โปรดระบุ"
                       th:attr="value=${press.guestPrefixOther3 != null}? ${press.guestPrefixOther3}: ''"
                       th:classappend="${press.guestPrefix3 == 'อื่นๆ'}? 'd-block':'d-none'"
                       th:disabled="${press.pressId != 0}"/>

                <label for="guestName3" class="form-control-label col-sm-2">ชื่อ-นามสกุล:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="guestName3" name="guestName3"
                       th:attr="value=${press.guestName3 != null && press.guestName3 != 'null'}? ${press.guestName3}: ''" maxlength="255"/>
            </div>

        </form>
        <div id="submit" class="row mt-5 mb-5 text-align-center" th:classappend="${viewName != 'ดูข้อมูล' ? 'd-block' : 'd-none'} ">
            <button type="button" class="btn btn-poba mr-3" onclick="submitPressInfo();">บันทึก</button>
            <a href="javascript:void(0)" onclick="loadView('/poba/press')" class="btn btn-outline-poba mr-3">ยกเลิก</a>
        </div>
        <div id="edit"class="row mt-5 mb-5 text-align-center" th:classappend="${viewName == 'ดูข้อมูล' ? 'd-block' : 'd-none'}">
            <a href="javascript:void(0)" onclick="loadView('/poba/press')" class="btn btn-poba mr-3">ยกเลิก</a>
            <button type="button" class="btn btn-outline-poba mr-3" onclick="editPressInfo();">แก้ไข</button>
        </div>
    </div>

    <script>
        $(document).ready(function() {
             var viewName = $("#viewName").text();
             if(viewName == "ดูข้อมูล"){
                $("input").prop("disabled", true);
                $("select").prop("disabled", true);
             }
        });

        $('#prefix').change(function(){
            var value = $(this).val();
            if(value == "อื่นๆ"){
                $("#prefixOther").removeClass("d-none");
                $("#prefixOther").addClass("d-block");

                $("#prefixOtherTmp").removeClass("d-block");
                $("#prefixOtherTmp").addClass("d-none");
            }else{
                $("#prefixOther").val("");
                $("#prefixOther").removeClass("d-block");
                $("#prefixOther").addClass("d-none");

                $("#prefixOtherTmp").removeClass("d-none");
                $("#prefixOtherTmp").addClass("d-block");
            }
        });

        $('#guestPrefix1').change(function(){
            var value = $(this).val();
            if(value == "อื่นๆ"){
                $("#guestPrefixOther1").removeClass("d-none");
                $("#guestPrefixOther1").addClass("d-block");

                $("#prefixOtherTmp1").removeClass("d-block");
                $("#prefixOtherTmp1").addClass("d-none");
            }else{
                $("#guestPrefixOther1").val("");
                $("#guestPrefixOther1").removeClass("d-block");
                $("#guestPrefixOther1").addClass("d-none");

                $("#prefixOtherTmp1").removeClass("d-none");
                $("#prefixOtherTmp1").addClass("d-block");
            }
        });

        $('#guestPrefix2').change(function(){
            var value = $(this).val();
            if(value == "อื่นๆ"){
                $("#guestPrefixOther2").removeClass("d-none");
                $("#guestPrefixOther2").addClass("d-block");

                $("#prefixOtherTmp2").removeClass("d-block");
                $("#prefixOtherTmp2").addClass("d-none");
            }else{
                $("#guestPrefixOther2").val("");
                $("#guestPrefixOther2").removeClass("d-block");
                $("#guestPrefixOther2").addClass("d-none");

                $("#prefixOtherTmp2").removeClass("d-none");
                $("#prefixOtherTmp2").addClass("d-block");
            }
        });

        $('#guestPrefix3').change(function(){
            var value = $(this).val();
            if(value == "อื่นๆ"){
                $("#guestPrefixOther3").removeClass("d-none");
                $("#guestPrefixOther3").addClass("d-block");

                $("#prefixOtherTmp3").removeClass("d-block");
                $("#prefixOtherTmp3").addClass("d-none");
            }else{
                $("#guestPrefixOther3").val("");
                $("#guestPrefixOther3").removeClass("d-block");
                $("#guestPrefixOther3").addClass("d-none");

                $("#prefixOtherTmp3").removeClass("d-none");
                $("#prefixOtherTmp3").addClass("d-block");
            }
        });
    </script>

</th:block>
</html>