
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="student-summary">
    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item active"><span>สรุปจำนวนนิสิต</span></li>
        </ol>
    </div>

    <div class="px-3">
        <div id="msgAlertDiv" class ="alert alert-dismissible alert-danger d-none">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span id="msgAlert"></span>
        </div>
        <th:block th:replace="~{fragments/alert}"/>

        <form id="form-training" class="form-inline justify-content-end flex-md-row flex-column">
            <div class="form-group mb-3">
                <label for="studentsLevel" class="mr-1">รายงาน<span style="color:red !important;">*</span>:</label>
                <select type="text" class="form-control bg-white mr-3" id="studentsLevel" name="studentsLevel">
                    <option value="">กรุณาเลือก</option>
                    <option value="ปริญญาตรี">จำนวนนิสิต(ในที่ปรึกษา ป.ตรี)</option>
                    <option value="ปริญญาโท">จำนวนนิสิต(ในที่ปรึกษา ป.โท)</option>
                    <option value="ปริญญาเอก">จำนวนนิสิต(ในที่ปรึกษา ป.เอก)</option>
                </select>
            </div>
            <div class="form-group mb-2">
                <label for="fromYear" class="mr-1">ปีที่เข้า<span style="color:red !important;">*</span>:</label>
                <select type="text" class="form-control bg-white mr-3" id="fromYear" name="fromYear">
                    <option value="">กรุณาเลือก</option>
                    <option th:each="year : ${years}" th:value="${year}" th:text="${year}"></option>
                </select>
            </div>
            <div class="form-group mb-2">
                <label for="toYear" class="mr-1">ถึง<span style="color:red !important;">*</span>:</label>
                <select type="text" class="form-control bg-white mr-2" id="toYear" name="toYear">
                    <option value="">กรุณาเลือก</option>
                    <option th:each="year : ${years}" th:value="${year}" th:text="${year}"></option>
                </select>
            </div>
            <div class="form-group mb-2">
                <button type="button" class="btn btn-outline-poba mr-2" onclick="searchSummary()">ค้นหา</button>
            </div>
        </form>
        <div class="table table-responsive">
            <table id="table-students2" class="display" width="100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ข้อมูลอาจารย์ที่สอน</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="12" class="dataTables_empty text-center bg-secondary">รายงานจำนวนนิสิต</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
</html>