
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="training">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item active"><span>ข้อมูลจัดอบรม</span></li>
        </ol>
    </div>

    <div class="px-3">

        <th:block th:replace="~{fragments/alert}"/>

        <form id="form-training" class="mb-5">
            <div class="d-flex flex-xl-row flex-column">
                <div class="row px-3 mb-xl-0 mb-3 flex-xl-fill">
                    <label for="name1" class="col-3 text-sm-right col-form-label">ค้นหาข้อมูล:</label>
                    <input id="name1" type="text" class="col-9 form-control flex-xl-grow-1" placeholder="ค้นหาด้วยชื่อ">
                </div>
                <div class="row px-3 mb-xl-0 mb-3">
                    <label for="trainingLevel" class="col-3 text-sm-right col-form-label">ระดับ:</label>
                    <select type="text" class="col-9 form-control" id="trainingLevel" name="trainingLevel">
                        <option value="">กรุณาเลือก</option>
                        <option value="ระดับชาติ">ระดับชาติ</option>
                        <option value="ระดับนานาชาติ">ระดับนานาชาติ</option>
                    </select>
                </div>
                <div class="row px-3 mb-xl-0 mb-3 flex-xl-fill">
                    <label for="trainingDateFrom" class="col-2 text-sm-right col-form-label">วันที่เริ่ม:</label>
                    <input type="date" class="col-4 form-control" id="trainingDateFrom">
                    <label for="trainingDateTo" class="col-2 text-sm-right col-form-label">วันที่สิ้นสุด:</label>
                    <input type="date" class="col-4 form-control" id="trainingDateTo">
                </div>
                <div class="pl-xl-3 d-inline-flex justify-content-end">
                    <button type="button" class="btn btn-outline-poba mr-3" onclick="findTraining()" th:if="${#lists.contains(roles, 'ROLE_TRAINING_SEARCH')}">ค้นหา</button>
                    <a class="btn btn-poba" href="javascript:void(0)" onclick="loadView('/poba/training/add')" th:if="${#lists.contains(roles, 'ROLE_TRAINING_ADD')}">เพิ่มข้อมูล</a>
                </div>
            </div>
        </form>

        <div class="table table-responsive">
            <table id="table-training" class="display" width="100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ผู้รับผิดชอบ#1</th>
                    <th>สถานะผู้รับผิดชอบ#1</th>
                    <th>ผู้รับผิดชอบ#2</th>
                    <th>สถานะผู้รับผิดชอบ#2</th>
                    <th>ผู้รับผิดชอบ#3</th>
                    <th>สถานะผู้รับผิดชอบ#3</th>
                    <th>ชื่อโครงการ</th>
                    <th>วันที่จัด</th>
                    <th>เวลาจัด</th>
                    <th>วันที่จัดถึง</th>
                    <th>เวลาจัดถึง</th>
                    <th>จำนวนวันให้บริการ</th>
                    <th>สถานที่จัดการอบรม</th>
                    <th>ลักษณะกิจกรรม</th>
                    <th>รหัสประกาศ/รหัสสัญญา</th>
                    <th>ทุนจาก</th>
                    <th>งบประมาณ</th>
                    <th>จำนวนเงินทั้งหมด</th>
                    <th>ผู้เข้าร่วม (คนไทย)</th>
                    <th>ผู้เข้าร่วม (ต่างชาติ)</th>
                    <th>ผู้เข้าร่วม (รวม)</th>
                    <th>ระดับกิจกรรม</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="24" class="dataTables_empty text-center bg-secondary">ข้อมูลจัดอบรม</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</th:block>
</html>