<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="training-form">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a  href="javascript:void(0)" onclick="loadView('/poba/home')">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a  href="javascript:void(0)" onclick="loadView('/poba/training')">ข้อมูลจัดอบรม</a></li>
            <li class="breadcrumb-item active" ><span id="viewName" th:text="${viewName}"></span></li>
        </ol>
    </div>

    <div class="container px-3">
        <th:block th:replace="~{fragments/input-errors}"/>
        <th:block th:replace="~{fragments/alert}"/>

        <form id="form-training" class="form-wrapper">
            <input type="hidden" id="trainingId" name="trainingId" th:value="${training.trainingId}"/>
            <div class="row col-sm-12 mb-2">
                <label><b>ข้อมูลอาจารย์</b></label>
            </div>
            <div class="row mb-2">
                <label class="col-sm-2 form-control-label" for="prefix">คำนำหน้า<span style="color:red !important;">*</span>:</label>
                <select type="text" class="col-sm-2 form-control bg-white" id="prefix" name="prefix"required>
                    <option value="">กรุณาเลือก</option>
                    <option value="นาย" th:selected="${training.prefix == 'นาย'}? 'selected'">นาย</option>
                    <option value="นางสาว" th:selected="${training.prefix == 'นางสาว'}? 'selected'">นางสาว</option>
                    <option value="นาง" th:selected="${training.prefix == 'นาง'}? 'selected'">นาง</option>
                    <option value="อ." th:selected="${training.prefix == 'อ.'}? 'selected'">อ.</option>
                    <option value="อ.ดร." th:selected="${training.prefix == 'อ.ดร.'}? 'selected'">อ.ดร.</option>
                    <option value="ผศ." th:selected="${training.prefix == 'ผศ.'}? 'selected'">ผศ.</option>
                    <option value="ผศ.ดร." th:selected="${training.prefix == 'ผศ.ดร.'}? 'selected'">ผศ.ดร.</option>
                    <option value="รศ." th:selected="${training.prefix == 'รศ.'}? 'selected'">รศ.</option>
                    <option value="รศ.ดร." th:selected="${training.prefix == 'รศ.ดร.'}? 'selected'">รศ.ดร.</option>
                    <option value="ศ." th:selected="${training.prefix == 'ศ.'}? 'selected'">ศ.</option>
                    <option value="ศ.ดร." th:selected="${training.prefix == 'ศ.ดร.'}? 'selected'">ศ.ดร.</option>
                    <option value="อื่นๆ" th:selected="${training.prefix == 'อื่นๆ'}? 'selected'">อื่นๆ</option>
                </select>

                <div id="prefixOtherTmp" class="col-sm-2" th:classappend="${training.prefix == 'อื่นๆ'}? 'd-none':'d-block'"></div>
                <input type="text" class="form-control bg-white col-sm-2" id="prefixOther" name="prefixOther" placeholder="อื่นๆ โปรดระบุ"
                       th:attr="value=${training.prefixOther != null}? ${training.prefixOther}: ''"
                       th:classappend="${training.prefix == 'อื่นๆ'}? 'd-block':'d-none'"
                       th:disabled="${training.trainingId != 0}"/>

                <label for="name" class="form-control-label col-sm-2">ชื่อ-นามสกุล<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="name" name="name"
                       th:attr="value=${training.name != null}? ${training.name}: ''" maxlength="255" required/>
            </div>

            <div  class="row mb-2">
                <label class="col-sm-2 form-control-label" for="trainingStatus">สถานะ<span style="color:red !important;">*</span>:</label>
                <select type="text" class="col-4 form-control" id="trainingStatus" name="trainingStatus" required>
                    <option value="">กรุณาเลือก</option>
                    <option value="ผู้รับผิดชอบ" th:selected="${training.trainingStatus == 'ผู้รับผิดชอบ'}? 'selected'">ผู้รับผิดชอบ</option>
                    <option value="คณะทำงาน" th:selected="${training.trainingStatus == 'คณะทำงาน'}? 'selected'">คณะทำงาน</option>
                </select>
                <label class="col-sm-2 form-control-label" for="trainingName">ชื่อโครงการ<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="trainingName" name="trainingName"
                       th:attr="value=${training.trainingName != null}? ${training.trainingName}: ''" maxlength="255" required/>
            </div>
            <div  class="row mb-2">
                <label class="col-sm-2 form-control-label" for="trainingDateFrom">วันที่จัด<span style="color:red !important;">*</span>:</label>
                <input type="date" class="form-control bg-white col-sm-2" id="trainingDateFrom" name="trainingDateFrom"
                       th:attr="value=${training.trainingDateFrom != null}? ${training.trainingDateFrom}: ''" required/>
                <input type="time" class="form-control bg-white col-sm-2" id="trainingTimeFrom" name="trainingTimeFrom"
                       th:attr="value=${training.trainingTimeFrom != null}? ${training.trainingTimeFrom}: ''" required/>
                <label class="form-control-label ml-3" for="trainingDateTo">ถึง<span style="color:red !important;">*</span>:</label>
                <input type="date" class="form-control bg-white col-sm-2" id="trainingDateTo" name="trainingDateTo"
                       th:attr="value=${training.trainingDateTo != null}? ${training.trainingDateTo}: ''" required/>
                <input type="time" class="form-control bg-white col-sm-2" id="trainingTimeTo" name="trainingTimeTo"
                       th:attr="value=${training.trainingTimeTo != null}? ${training.trainingTimeTo}: ''"required/>
            </div>
            <div  class="row mb-2">
                <label class="col-sm-2 form-control-label" for="trainingTotalDay">จำนวนวันให้บริการ<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="trainingTotalDay" name="trainingTotalDay"
                       th:attr="value=${training.trainingTotalDay != null}? ${training.trainingTotalDay}: ''" required/>
                <label class="form-control-label col-sm-2" for="trainingLocation">สถานที่จัดการอบรม<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="trainingLocation" name="trainingLocation"
                       th:attr="value=${training.trainingLocation != null}? ${training.trainingLocation}: ''" maxlength="255" required/>
            </div>
            <div  class="row mb-2">
                <label class="col-sm-2 form-control-label" for="trainingType">ลักษณะกิจกรรม<span style="color:red !important;">*</span>:</label>
                <select type="text" class="col-4 form-control" id="trainingType" name="trainingType" required>
                    <option value="">กรุณาเลือก</option>
                    <option value="ว่าจ้าง" th:selected="${training.trainingType == 'ว่าจ้าง'}? 'selected'">ว่าจ้าง</option>
                    <option value="ให้เปล่า" th:selected="${training.trainingType == 'ให้เปล่า'}? 'selected'">ให้เปล่า</option>
                </select>
                <label class="col-sm-2 form-control-label" for="trainingAnnounce">รหัสประกาศ/รหัสสัญญา<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="trainingAnnounce" name="trainingAnnounce"
                       th:attr="value=${training.trainingAnnounce != null}? ${training.trainingAnnounce}: ''" maxlength="255" required/>
            </div>

            <div  class="row mb-2">
                <label class="col-sm-2 form-control-label" for="trainingBudget">งบประมาณ<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4 amount" id="trainingBudget" name="trainingBudget"
                       th:attr="value=${training.trainingBudget != null}? ${training.trainingBudget}: ''" onblur="amtFormat()" required/>
                <label class="form-control-label col-sm-2" for="trainingPhase">งวดที่<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="trainingPhase" name="trainingPhase"
                       th:attr="value=${training.trainingPhase != null}? ${training.trainingPhase}: ''" required/>
            </div>

            <div  class="row mb-2">
                <label class="col-sm-2 form-control-label" for="trainingAmount">จำนวนเงิน<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4 amount" id="trainingAmount" name="trainingAmount"
                       th:attr="value=${training.trainingAmount != null}? ${training.trainingAmount}: ''" onblur="amtFormat()" required/>
                <label class="form-control-label col-sm-2" for="trainingJoin">หน่วยงานให้ทุน/ร่วมจัด<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="trainingJoin" name="trainingJoin"
                       th:attr="value=${training.trainingJoin != null}? ${training.trainingJoin}: ''" maxlength="255" required/>
            </div>
            <div  class="row mb-2">
                <label class="col-sm-2 form-control-label" for="trainingThai">ผู้เข้าร่วม (คนไทย)<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="trainingThai" name="trainingThai"
                       th:attr="value=${training.trainingThai != null}? ${training.trainingThai}: ''" required/>
                <label class="form-control-label col-sm-2" for="trainingForeign">ผู้เข้าร่วม (ต่างชาติ)<span style="color:red !important;">*</span>:</label>
                <input type="text" class="form-control bg-white col-sm-4" id="trainingForeign" name="trainingForeign"
                       th:attr="value=${training.trainingForeign != null}? ${training.trainingForeign}: ''" required/>
            </div>

            <div  class="row mb-2">
                <label class="col-sm-2 form-control-label" for="trainingTotalPerson">ผู้เข้าร่วม (รวม):</label>
                <input type="text" class="form-control bg-white col-sm-4" id="trainingTotalPerson" name="trainingTotalPerson"
                       th:attr="value=${training.trainingTotalPerson != null}? ${training.trainingTotalPerson}: ''" />
                <label class="col-sm-2 form-control-label" for="trainingLevel">ระดับกิจกรรม<span style="color:red !important;">*</span>:</label>
                <select type="text" class="col-4 form-control" id="trainingLevel" name="trainingLevel" required>
                    <option value="">กรุณาเลือก</option>
                    <option value="ระดับชาติ" th:selected="${training.trainingLevel == 'ระดับชาติ'}? 'selected'">ระดับชาติ</option>
                    <option value="ระดับนานาชาติ" th:selected="${training.trainingLevel == 'ระดับนานาชาติ'}? 'selected'">ระดับนานาชาติ</option>
                </select>
            </div>

        </form>
        <div id="submit" class="row mt-5 mb-5 text-align-center" th:classappend="${training.trainingId == 0 ? 'd-block' : 'd-none'} ">
            <button type="button" class="btn btn-poba mr-3" onclick="submitTrainingInfo();">บันทึก</button>
            <a href="javascript:void(0)" onclick="loadView('/poba/training')" class="btn btn-outline-poba mr-3">ยกเลิก</a>
        </div>
        <div id="edit"class="row mt-5 mb-5 text-align-center" th:classappend="${training.trainingId != 0 ? 'd-block' : 'd-none'}">
            <a href="javascript:void(0)" onclick="loadView('/poba/training')" class="btn btn-poba mr-3">ยกเลิก</a>
            <button type="button" class="btn btn-outline-poba mr-3" onclick="editTrainingInfo();">แก้ไข</button>
        </div>
    </div>

    <script>
        $(document).ready(function() {
             var trainingId = $("#trainingId").val();
             if(trainingId != '' && trainingId > 0){
                $("input").prop("disabled", true);
                $("select").prop("disabled", true);
                $(".btn-phase").prop("disabled", true);
             }

             amtFormat();
        });

        $('#prefix').change(function(){
            var value = $(this).val();
            if(value == "อื่นๆ"){
                $("#prefixOther").removeClass("d-none");
                $("#prefixOther").addClass("d-block");

                $("#prefixOtherTmp").removeClass("d-block");
                $("#prefixOtherTmp").addClass("d-none");
            }else{
                $("#prefixOther").val("");
                $("#prefixOther").removeClass("d-block");
                $("#prefixOther").addClass("d-none");

                $("#prefixOtherTmp").removeClass("d-none");
                $("#prefixOtherTmp").addClass("d-block");
            }
        });
    </script>

</th:block>
</html>