
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="academic-service">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item active"><span>ข้อมูลตำแหน่งทางการบริหาร</span></li>
        </ol>
    </div>

    <div class="px-3">

        <th:block th:replace="~{fragments/alert}"/>

        <form id="form-academic-ervice" class="mb-5">
            <div class="d-flex flex-xl-row flex-column">
                <div class="row px-3 mb-xl-0 mb-3 flex-xl-fill">
                    <label for="name" class="col-3 text-sm-right col-form-label">ค้นหาข้อมูล:</label>
                    <input id="name" type="text" class="col-9 form-control flex-xl-grow-1" placeholder="ค้นหาด้วยชื่อ">
                </div>
                <div class="row px-3 mb-xl-0 mb-3">
                    <label for="serviceLevel" class="col-3 text-sm-right col-form-label">ระดับ:</label>
                    <select type="text" class="col-9 form-control" id="serviceLevel" name="serviceLevel">
                        <option value="">กรุณาเลือก</option>
                        <option value="ระดับชาติ">ระดับชาติ</option>
                        <option value="ระดับนานาชาติ">ระดับนานาชาติ</option>
                    </select>
                </div>
                <div class="pl-xl-3 d-inline-flex justify-content-end">
                    <button type="button" class="btn btn-outline-poba mr-3" onclick="findAcademicService()" th:if="${#lists.contains(roles, 'ROLE_PERSONNEL_INFO_ACADEMIC_SERVICE_SEARCH')}">ค้นหา</button>
                    <a class="btn btn-poba" href="javascript:void(0)" onclick="loadView('/poba/academic-service/add')" th:if="${#lists.contains(roles, 'ROLE_PERSONNEL_INFO_ACADEMIC_SERVICE_ADD')}">เพิ่มข้อมูล</a>
                </div>
            </div>
        </form>

        <div class="table table-responsive">
            <table id="table-academic-service" class="display" width="100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ชื่อ-นามสกุล</th>
                    <th>สถานะ</th>
                    <th>เลขที่คำสั่ง</th>
                    <th>วันที่คำสั่ง เริ่ม</th>
                    <th>วันที่คำสั่ง ถึง</th>
                    <th>หมายเหตุ</th>
                    <th>ข้อมูลตำแหน่งบริหาร</th>
                    <th>ชื่อหน่วยงานที่เป็นกรรมการ/บริหาร</th>
                    <th>ระดับกิจกรรม</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="10" class="dataTables_empty text-center bg-secondary">ข้อมูลตำแหน่งทางการบริหาร</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</th:block>
</html>