<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="resolution-view">

    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/poba/home">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="loadView('/poba/resolution')">ข้อมูลมติกรรมการคณะ</a></li>
            <li class="breadcrumb-item active"><span>ดูข้อมูล</span></li>
        </ol>
    </div>

    <div class="p-3 h-100">

        <th:block th:replace="~{fragments/alert}"/>

        <div class="form-wrapper" th:object="${resolution}">
            <div class="form-fields">
                <table id="resolution-detail" class="view-info">
                    <tbody>
                    <tr>
                        <th>การประชุมครั้งที่:</th>
                        <td th:text="|*{bordNo1} / *{bordNo2}|"></td>
                    </tr>
                    <tr>
                        <th>วัน เดือน ปี:</th>
                        <td th:text="*{bordDate}"></td>
                    </tr>
                    <tr>
                        <th>การประชุม:</th>
                        <td th:text="*{bordType}"></td>
                    </tr>
                    <tr>
                        <th th:rowspan="*{#lists.size(uploads)}+1">รายงานการประชุม:</th>
                        <td><a th:href="*{bordAttach}" th:text="*{bordAttach}" target="_blank" rel="noopener"></a></td>
                    </tr>
                    <tr th:each="upload: *{uploads}">
                        <td style="border-bottom: none !important;border-top: none !important;">
                            <a th:href="|/poba/download/download-pdf/resolution/${upload.filename}|" target="_blank" rel="noopener"
                               th:text="${upload.filename}"></a>
                        </td>
                    </tr>
                    <tr>
                        <th>หมายเหตุ:</th>
                        <td th:text="*{noteOfBoard}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-buttons">
                <a class="btn btn-poba mr-3" href="javascript:void(0)"
                   onclick="loadView('/poba/resolution')">กลับ</a>
                <a class="btn btn-outline-poba" href="javascript:void(0)"
                   th:onclick="|loadView('/poba/resolution/*{bordId}/edit')|">แก้ไข</a>
            </div>
        </div>

    </div>

</th:block>
</html>